Repository Skyscanner/backpack-ios, pull requests merged in 2022-11, with the labels that each got.

#1474 Updating colour snapshots
  Backpack/Tests/SnapshotTests/MapAnnotation/__Snapshots__/BPKMapAnnotationSnapshotTest/testAllStates.dark-mode.png
  Backpack/Tests/SnapshotTests/MapAnnotation/__Snapshots__/BPKMapAnnotationSnapshotTest/testAllStatesWithIcon.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKDialogViewSnapshotTest/testChangingIconDefinitionAfterPresenting.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKDialogViewSnapshotTest/testDialogViewNoButtons.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKDialogViewSnapshotTest/testDialogViewWithButtons.dark-mode.png
Labels: patch

#1483 [KOA-5668] Separating releases into different jobs
  .github/workflows/release.yml
Labels: minor

#1484 clonning before executing docs release
  .github/workflows/release.yml
Labels: patch

#1485 clonning before executing docs release
  .github/workflows/release.yml
Labels: patch

#1490 [KOA-5665] Migrate Spinner snapshots to swift
  Backpack/Tests/SnapshotTests/BPKSnapshotTest.swift
  Backpack/Tests/SnapshotTests/BPKSpinnerSnapshotTest.m
  Backpack/Tests/SnapshotTests/BPKSpinnerSnapshotTest.swift
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKSpinnerSnapshotTest/testSpinnersWithTheme_dark_mode@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKSpinnerSnapshotTest/testSpinnersWithTheme_light_mode@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKSpinnerSnapshotTest/testSpinners_dark_mode@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKSpinnerSnapshotTest/testSpinners_light_mode@2x.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKSpinnerSnapshotTest/testSpinnerSizesNotThemed.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKSpinnerSnapshotTest/testSpinnerSizesNotThemed.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKSpinnerSnapshotTest/testSpinnerSizesNotThemed.rtl.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKSpinnerSnapshotTest/testSpinnerSizesThemed.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKSpinnerSnapshotTest/testSpinnerSizesThemed.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKSpinnerSnapshotTest/testSpinnerSizesThemed.rtl.png
  __Snapshots__/BPKSpinnerSnapshotTest/testSpinnerSizesNotThemed.dark-mode.png
  __Snapshots__/BPKSpinnerSnapshotTest/testSpinnerSizesNotThemed.light-mode.png
  __Snapshots__/BPKSpinnerSnapshotTest/testSpinnerSizesNotThemed.rtl.png
  __Snapshots__/BPKSpinnerSnapshotTest/testSpinnerSizesThemed.dark-mode.png
  __Snapshots__/BPKSpinnerSnapshotTest/testSpinnerSizesThemed.light-mode.png
  __Snapshots__/BPKSpinnerSnapshotTest/testSpinnerSizesThemed.rtl.png
Labels: skip-changelog, Snapshots

#1492 [KOA-5665] Migrate Nudger snapshots to swift
  Backpack/Tests/SnapshotTests/BPKNudgerSnapshotTest.m
  Backpack/Tests/SnapshotTests/BPKNudgerSnapshotTest.swift
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKNudgerSnapshotTest/testNudgerWithMaxValue_dark_mode@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKNudgerSnapshotTest/testNudgerWithMaxValue_light_mode@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKNudgerSnapshotTest/testNudgerWithMinValue_dark_mode@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKNudgerSnapshotTest/testNudgerWithMinValue_light_mode@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKNudgerSnapshotTest/testNudgerWithValueBetweenMinAndMax_dark_mode@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKNudgerSnapshotTest/testNudgerWithValueBetweenMinAndMax_light_mode@2x.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKNudgerSnapshotTest/testNudgerWithMinValue.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKNudgerSnapshotTest/testNudgerWithMinValue.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKNudgerSnapshotTest/testNudgerWithMinValue.rtl.png
Labels: skip-changelog, Snapshots

#1494 removing dupped snapshots
  __Snapshots__/BPKSpinnerSnapshotTest/testSpinnerSizesNotThemed.dark-mode.png
  __Snapshots__/BPKSpinnerSnapshotTest/testSpinnerSizesNotThemed.light-mode.png
  __Snapshots__/BPKSpinnerSnapshotTest/testSpinnerSizesNotThemed.rtl.png
  __Snapshots__/BPKSpinnerSnapshotTest/testSpinnerSizesThemed.dark-mode.png
  __Snapshots__/BPKSpinnerSnapshotTest/testSpinnerSizesThemed.light-mode.png
  __Snapshots__/BPKSpinnerSnapshotTest/testSpinnerSizesThemed.rtl.png
Labels: skip-changelog

#1498 KOA-5665 Migrate BPKGradient snapshots
  Backpack/Tests/SnapshotTests/BPKGradientSnapshotTests.m
  Backpack/Tests/SnapshotTests/BPKGradientSnapshotTests.swift
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKGradientSnapshotTests/testBaselineScrimGradient@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKGradientSnapshotTests/testPrimaryGradient@2x.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKGradientSnapshotTests/testBaselineScrimGradient.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKGradientSnapshotTests/testBaselineScrimGradient.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKGradientSnapshotTests/testBaselineScrimGradient.rtl.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKGradientSnapshotTests/testPrimaryGradient.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKGradientSnapshotTests/testPrimaryGradient.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKGradientSnapshotTests/testPrimaryGradient.rtl.png
Labels: skip-changelog, Snapshots

#1495 KOA-5665 Migrate BPKCalendar snapshots
  Backpack/Tests/SnapshotTests/BPKCalendarSnapshotTest.m
  Backpack/Tests/SnapshotTests/BPKCalendarSnapshotTest.swift
  Backpack/Tests/SnapshotTests/BPKCalendarYearPillSnapshotTest.m
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKCalendarSnapshotTest/testCalendarWithCustomColorDates@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKCalendarSnapshotTest/testCalendarWithLongRangeSelection@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKCalendarSnapshotTest/testCalendarWithMultipleSelection@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKCalendarSnapshotTest/testCalendarWithPriceLabels@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKCalendarSnapshotTest/testCalendarWithRangeSelection@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKCalendarSnapshotTest/testCalendarWithRangeSelectionWithTheme@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKCalendarSnapshotTest/testCalendarWithSelectedDateInFuture@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKCalendarSnapshotTest/testCalendarWithSingleSelection@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKCalendarSnapshotTest/testCalendarWithSingleSelectionAndCustomDisabledDates@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKCalendarSnapshotTest/testCalendarWithWholeMonthButton@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKCalendarSnapshotTest/testCalendarWithoutSelection@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKCalendarYearPillSnapshotTest/testYearPill_dark_mode@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKCalendarYearPillSnapshotTest/testYearPill_light_mode@2x.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKCalendarSnapshotTest/testCalendarWithCustomColorDates.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKCalendarSnapshotTest/testCalendarWithCustomColorDates.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKCalendarSnapshotTest/testCalendarWithCustomColorDates.rtl.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKCalendarSnapshotTest/testCalendarWithLongRangeSelection.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKCalendarSnapshotTest/testCalendarWithLongRangeSelection.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKCalendarSnapshotTest/testCalendarWithLongRangeSelection.rtl.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKCalendarSnapshotTest/testCalendarWithMultipleSelection.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKCalendarSnapshotTest/testCalendarWithMultipleSelection.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKCalendarSnapshotTest/testCalendarWithMultipleSelection.rtl.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKCalendarSnapshotTest/testCalendarWithPriceLabels.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKCalendarSnapshotTest/testCalendarWithPriceLabels.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKCalendarSnapshotTest/testCalendarWithPriceLabels.rtl.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKCalendarSnapshotTest/testCalendarWithRangeSelection.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKCalendarSnapshotTest/testCalendarWithRangeSelection.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKCalendarSnapshotTest/testCalendarWithRangeSelection.rtl.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKCalendarSnapshotTest/testCalendarWithRangeSelectionWithTheme.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKCalendarSnapshotTest/testCalendarWithRangeSelectionWithTheme.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKCalendarSnapshotTest/testCalendarWithRangeSelectionWithTheme.rtl.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKCalendarSnapshotTest/testCalendarWithSelectedDateInFuture.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKCalendarSnapshotTest/testCalendarWithSelectedDateInFuture.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKCalendarSnapshotTest/testCalendarWithSelectedDateInFuture.rtl.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKCalendarSnapshotTest/testCalendarWithSingleSelection.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKCalendarSnapshotTest/testCalendarWithSingleSelection.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKCalendarSnapshotTest/testCalendarWithSingleSelection.rtl.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKCalendarSnapshotTest/testCalendarWithSingleSelectionAndCustomDisabledDates.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKCalendarSnapshotTest/testCalendarWithSingleSelectionAndCustomDisabledDates.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKCalendarSnapshotTest/testCalendarWithSingleSelectionAndCustomDisabledDates.rtl.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKCalendarSnapshotTest/testCalendarWithWholeMonthButton.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKCalendarSnapshotTest/testCalendarWithWholeMonthButton.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKCalendarSnapshotTest/testCalendarWithWholeMonthButton.rtl.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKCalendarSnapshotTest/testCalendarWithoutSelection.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKCalendarSnapshotTest/testCalendarWithoutSelection.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKCalendarSnapshotTest/testCalendarWithoutSelection.rtl.png
Labels: skip-changelog, Snapshots

#1497 KOA-5665 Migrate BPKFlareView snapshots
  Backpack/Tests/SnapshotTests/BPKFlareViewSnapshotTest.m
  Backpack/Tests/SnapshotTests/BPKFlareViewSnapshotTest.swift
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKFlareViewSnapshotTest/testFlareViewBottomRoundedSnapshot@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKFlareViewSnapshotTest/testFlareViewBottomSnapshot@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKFlareViewSnapshotTest/testFlareViewTopRoundedSnapshot@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKFlareViewSnapshotTest/testFlareViewTopSnapshot@2x.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKFlareViewSnapshotTest/testFlareViewBottomRoundedSnapshot.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKFlareViewSnapshotTest/testFlareViewBottomRoundedSnapshot.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKFlareViewSnapshotTest/testFlareViewBottomRoundedSnapshot.rtl.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKFlareViewSnapshotTest/testFlareViewBottomSnapshot.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKFlareViewSnapshotTest/testFlareViewBottomSnapshot.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKFlareViewSnapshotTest/testFlareViewBottomSnapshot.rtl.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKFlareViewSnapshotTest/testFlareViewTopRoundedSnapshot.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKFlareViewSnapshotTest/testFlareViewTopRoundedSnapshot.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKFlareViewSnapshotTest/testFlareViewTopRoundedSnapshot.rtl.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKFlareViewSnapshotTest/testFlareViewTopSnapshot.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKFlareViewSnapshotTest/testFlareViewTopSnapshot.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKFlareViewSnapshotTest/testFlareViewTopSnapshot.rtl.png
Labels: skip-changelog, Snapshots

#1499 liberating clang format version
  .github/workflows/_build.yml
Labels: patch

#1501 KOA-5665 Remove BPKMapView snapshot tests
  Backpack/Tests/SnapshotTests/BPKMapSnapshotTest.m
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKMapSnapshotTest/testMapView_dark_mode@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKMapSnapshotTest/testMapView_light_mode@2x.png
Labels: skip-changelog, Snapshots

#1500 KOA-5665 BPKIcon/BPKIconView snapshot tests
  Backpack/Tests/SnapshotTests/BPKIconSnapshotTest.m
  Backpack/Tests/SnapshotTests/BPKIconSnapshotTest.swift
  Backpack/Tests/SnapshotTests/BPKIconViewSnapshotTest.m
  Backpack/Tests/SnapshotTests/BPKIconViewSnapshotTest.swift
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKIconSnapshotTest/testAllLargeIcons@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKIconSnapshotTest/testAllSmallIcons@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKIconViewSnapshotTest/testLargeWithTint_dark_mode@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKIconViewSnapshotTest/testLargeWithTint_light_mode@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKIconViewSnapshotTest/testSmallWithTint_dark_mode@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKIconViewSnapshotTest/testSmallWithTint_light_mode@2x.png
  Backpack/Tests/SnapshotTests/Utils/BPKIconsTestsUtils.h
  Backpack/Tests/SnapshotTests/Utils/BPKIconsTestsUtils.m
  Backpack/Tests/SnapshotTests/Utils/BPKIconsTestsUtils.swift
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKIconSnapshotTest/testAllLargeIcons.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKIconSnapshotTest/testAllLargeIcons.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKIconSnapshotTest/testAllLargeIcons.rtl.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKIconSnapshotTest/testAllSmallIcons.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKIconSnapshotTest/testAllSmallIcons.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKIconSnapshotTest/testAllSmallIcons.rtl.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKIconSnapshotTest/testLargeIcon.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKIconSnapshotTest/testLargeIcon.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKIconSnapshotTest/testLargeIcon.rtl.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKIconSnapshotTest/testSmallIcon.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKIconSnapshotTest/testSmallIcon.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKIconSnapshotTest/testSmallIcon.rtl.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKIconViewSnapshotTest/testLargeIconWithDefaultTint.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKIconViewSnapshotTest/testLargeIconWithDefaultTint.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKIconViewSnapshotTest/testLargeIconWithDefaultTint.rtl.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKIconViewSnapshotTest/testLargeWithTint.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKIconViewSnapshotTest/testLargeWithTint.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKIconViewSnapshotTest/testLargeWithTint.rtl.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKIconViewSnapshotTest/testSmallWithTint.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKIconViewSnapshotTest/testSmallWithTint.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKIconViewSnapshotTest/testSmallWithTint.rtl.png
  Example/Backpack/UIKit/Components/Icon/IconsViewController.swift
  scripts/gulp/generation/uikit/icons.js
  templates/icons/BPKIconsExampleTestsUtil.njk
Labels: skip-changelog, Snapshots

#1506 KOA-5665 BPKProgressBar snapshot test migration
  Backpack/Tests/SnapshotTests/BPKProgressBarSnapshotTest.m
  Backpack/Tests/SnapshotTests/BPKProgressBarSnapshotTest.swift
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKProgressBarSnapshotTest/testOverridingBackgroundColor_dark_mode@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKProgressBarSnapshotTest/testOverridingBackgroundColor_light_mode@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKProgressBarSnapshotTest/testSettingValue_dark_mode@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKProgressBarSnapshotTest/testSettingValue_light_mode@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKProgressBarSnapshotTest/testTheme_dark_mode@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKProgressBarSnapshotTest/testTheme_light_mode@2x.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKProgressBarSnapshotTest/testOverridingBackgroundColor.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKProgressBarSnapshotTest/testOverridingBackgroundColor.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKProgressBarSnapshotTest/testOverridingBackgroundColor.rtl.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKProgressBarSnapshotTest/testSettingValue.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKProgressBarSnapshotTest/testSettingValue.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKProgressBarSnapshotTest/testSettingValue.rtl.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKProgressBarSnapshotTest/testTheme.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKProgressBarSnapshotTest/testTheme.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKProgressBarSnapshotTest/testTheme.rtl.png
Labels: skip-changelog, Snapshots

#1505 KOA-5665 BPKPrimaryGradient snapshot test migration
  Backpack/Tests/SnapshotTests/BPKPrimaryGradientSnapshotTests.m
  Backpack/Tests/SnapshotTests/BPKPrimaryGradientSnapshotTests.swift
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKPrimaryGradientSnapshotTests/testPrimaryGradientWithCustomGradient@2x.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKPrimaryGradientSnapshotTests/testPrimaryGradient.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKPrimaryGradientSnapshotTests/testPrimaryGradient.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKPrimaryGradientSnapshotTests/testPrimaryGradient.rtl.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKPrimaryGradientSnapshotTests/testPrimaryGradientWithCustomGradient.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKPrimaryGradientSnapshotTests/testPrimaryGradientWithCustomGradient.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKPrimaryGradientSnapshotTests/testPrimaryGradientWithCustomGradient.rtl.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKPrimaryGradientSnapshotTests/testPrimaryGradientWithDirectionOverride.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKPrimaryGradientSnapshotTests/testPrimaryGradientWithDirectionOverride.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKPrimaryGradientSnapshotTests/testPrimaryGradientWithDirectionOverride.rtl.png
Labels: skip-changelog, Snapshots

#1504 KOA-5665 BPKPanel snapshot test migration
  Backpack/Tests/SnapshotTests/BPKPanelSnapshotTest.m
  Backpack/Tests/SnapshotTests/BPKPanelSnapshotTest.swift
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKPanelSnapshotTest/testViewSnapshotElevated@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKPanelSnapshotTest/testViewSnapshotElevatedWithoutPadded@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKPanelSnapshotTest/testViewSnapshotWithPadded@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKPanelSnapshotTest/testViewSnapshotWithoutPadded@2x.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKPanelSnapshotTest/testViewSnapshotElevated.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKPanelSnapshotTest/testViewSnapshotElevated.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKPanelSnapshotTest/testViewSnapshotElevated.rtl.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKPanelSnapshotTest/testViewSnapshotElevatedWithoutPadded.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKPanelSnapshotTest/testViewSnapshotElevatedWithoutPadded.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKPanelSnapshotTest/testViewSnapshotElevatedWithoutPadded.rtl.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKPanelSnapshotTest/testViewSnapshotWithPadded.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKPanelSnapshotTest/testViewSnapshotWithPadded.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKPanelSnapshotTest/testViewSnapshotWithPadded.rtl.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKPanelSnapshotTest/testViewSnapshotWithoutPadded.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKPanelSnapshotTest/testViewSnapshotWithoutPadded.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKPanelSnapshotTest/testViewSnapshotWithoutPadded.rtl.png
Labels: skip-changelog, Snapshots

#1503 KOA-5665 BPKNavigationBar snapshot test migration
  Backpack/Tests/SnapshotTests/BPKNavigationBarSnapshotTest.m
  Backpack/Tests/SnapshotTests/BPKNavigationBarSnapshotTest.swift
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKNavigationBarSnapshotTest/testNavBarCollapsed@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKNavigationBarSnapshotTest/testNavBarCollapseddWithButtons@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKNavigationBarSnapshotTest/testNavBarExpandedWithButtons@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKNavigationBarSnapshotTest/testNavBarLargeTitleAlignment@2x.png
  Backpack/Tests/SnapshotTests/ReferenceImages_64/BPKNavigationBarSnapshotTest/testNavBarPosition@2x.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKNavigationBarSnapshotTest/testNavBarCollapsed.1.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKNavigationBarSnapshotTest/testNavBarCollapsed.2.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKNavigationBarSnapshotTest/testNavBarCollapsed.3.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKNavigationBarSnapshotTest/testNavBarCollapseddWithButtons.1.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKNavigationBarSnapshotTest/testNavBarCollapseddWithButtons.2.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKNavigationBarSnapshotTest/testNavBarCollapseddWithButtons.3.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKNavigationBarSnapshotTest/testNavBarExpandedWithButtons.1.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKNavigationBarSnapshotTest/testNavBarExpandedWithButtons.2.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKNavigationBarSnapshotTest/testNavBarExpandedWithButtons.3.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKNavigationBarSnapshotTest/testNavBarLargeTitleAlignment.1.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKNavigationBarSnapshotTest/testNavBarLargeTitleAlignment.2.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKNavigationBarSnapshotTest/testNavBarLargeTitleAlignment.3.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKNavigationBarSnapshotTest/testNavBarPosition.1.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKNavigationBarSnapshotTest/testNavBarPosition.2.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKNavigationBarSnapshotTest/testNavBarPosition.3.png
Labels: skip-changelog, Snapshots

#1510 Update README.md of Backpack-SwiftUI/Card
  Backpack-SwiftUI/Card/README.md
Labels: minor
