Repository Skyscanner/backpack-ios, pull requests merged in 2023-11, with the labels that each got.

#1809 OGM-1926: Disable month selection for last month
  Backpack/Calendar/Classes/BPKCalendar.h
  Backpack/Calendar/Classes/BPKCalendar.m
  Backpack/Calendar/Classes/BPKCalendarSelectionConfiguration.h
  Backpack/Calendar/Classes/BPKCalendarSelectionConfigurationMultiple.h
  Backpack/Calendar/Classes/BPKCalendarSelectionConfigurationMultiple.m
  Backpack/Calendar/Classes/BPKCalendarSelectionConfigurationRange.h
  Backpack/Calendar/Classes/BPKCalendarSelectionConfigurationRange.m
  Backpack/Calendar/Classes/BPKCalendarSelectionConfigurationSingle.h
  Backpack/Calendar/Classes/BPKCalendarSelectionConfigurationSingle.m
  Backpack/Calendar/Classes/BPKCalendarStickyHeader.m
  Backpack/Calendar/Classes/BPKCalendarWholeMonthSelectionConfiguration.swift
  Backpack/Calendar/Classes/BPKYearMonth.swift
  Backpack/Calendar/README.md
  Backpack/Tests/SnapshotTests/BPKCalendarSnapshotTest.swift
  Backpack/Tests/UnitTests/BPKCalendarWholeMonthConfigurationTests.swift
  Backpack/Tests/UnitTests/BPKYearMonthTests.swift
  Example/Backpack/UIKit/Components/Calendar/CalendarViewController.swift
Labels: major, bpk

#1814 OGM-1921: Fix issues when comparing dates
  Backpack/Calendar/Classes/BPKYearMonth.swift
Labels: minor, bpk

#1820 Add app search modal
  Backpack-SwiftUI/AppSearchModal/Classes/AppSearchModalContentView.swift
  Backpack-SwiftUI/AppSearchModal/Classes/AppSearchModalErrorView.swift
  Backpack-SwiftUI/AppSearchModal/Classes/AppSearchModalLoadingView.swift
  Backpack-SwiftUI/AppSearchModal/Classes/BPKAppSearchModal.swift
  Backpack-SwiftUI/AppSearchModal/Classes/BPKAppSearchModalResults.swift
  Backpack-SwiftUI/AppSearchModal/README.md
  Backpack-SwiftUI/Tests/AppSearchModal/BPKAppSearchModalTests.swift
  Backpack-SwiftUI/Tests/AppSearchModal/__Snapshots__/BPKAppSearchModalTests/test_withContent.dark-mode.png
  Backpack-SwiftUI/Tests/AppSearchModal/__Snapshots__/BPKAppSearchModalTests/test_withContent.light-mode.png
  Backpack-SwiftUI/Tests/AppSearchModal/__Snapshots__/BPKAppSearchModalTests/test_withContent.rtl.png
  Backpack-SwiftUI/Tests/AppSearchModal/__Snapshots__/BPKAppSearchModalTests/test_withError.dark-mode.png
  Backpack-SwiftUI/Tests/AppSearchModal/__Snapshots__/BPKAppSearchModalTests/test_withError.light-mode.png
  Backpack-SwiftUI/Tests/AppSearchModal/__Snapshots__/BPKAppSearchModalTests/test_withError.rtl.png
  Backpack-SwiftUI/Tests/AppSearchModal/__Snapshots__/BPKAppSearchModalTests/test_withLoading.dark-mode.png
  Backpack-SwiftUI/Tests/AppSearchModal/__Snapshots__/BPKAppSearchModalTests/test_withLoading.light-mode.png
  Backpack-SwiftUI/Tests/AppSearchModal/__Snapshots__/BPKAppSearchModalTests/test_withLoading.rtl.png
  Example/Backpack Screenshot/SwiftUIScreenshots.swift
  Example/Backpack.xcodeproj/project.pbxproj
  Example/Backpack/SwiftUI/Components/AppSearchModal/AppSearchModalExampleView.swift
  Example/Backpack/Utils/FeatureStories/ComponentCells.swift
  Example/Backpack/Utils/FeatureStories/Groups/AppSearchModalGroups.swift
  screenshots/iPhone-swiftui_app-search-modal___content_dm.png
  screenshots/iPhone-swiftui_app-search-modal___content_lm.png
  screenshots/iPhone-swiftui_app-search-modal___error_dm.png
  screenshots/iPhone-swiftui_app-search-modal___error_lm.png
  screenshots/iPhone-swiftui_app-search-modal___loading_dm.png
  screenshots/iPhone-swiftui_app-search-modal___loading_lm.png
Labels: swiftui, minor, new-component

#1818 [LMN-20] SwiftUI Calendar component
  Backpack-SwiftUI/Calendar/Classes/AccessibilityConfigurations/RangeAccessibilityConfigurations.swift
  Backpack-SwiftUI/Calendar/Classes/AccessibilityConfigurations/SingleAccessibilityConfigurations.swift
  Backpack-SwiftUI/Calendar/Classes/BPKCalendar.swift
  Backpack-SwiftUI/Calendar/Classes/CalendarBadge.swift
  Backpack-SwiftUI/Calendar/Classes/CalendarDayCells/CalendarSelectableCell.swift
  Backpack-SwiftUI/Calendar/Classes/CalendarDayCells/DefaultCalendarDayCell.swift
  Backpack-SwiftUI/Calendar/Classes/CalendarDayCells/DefaultEmptyCalendarDayCell.swift
  Backpack-SwiftUI/Calendar/Classes/CalendarDayCells/DisabledCalendarDayCell.swift
  Backpack-SwiftUI/Calendar/Classes/CalendarHeader.swift
  Backpack-SwiftUI/Calendar/Classes/CalendarMonthAccessoryAction.swift
  Backpack-SwiftUI/Calendar/Classes/CalendarMonthHeader.swift
  Backpack-SwiftUI/Calendar/Classes/CalendarRangeSelectionState.swift
  Backpack-SwiftUI/Calendar/Classes/CalendarSelectionType.swift
  Backpack-SwiftUI/Calendar/Classes/Core/CalendarContainer.swift
  Backpack-SwiftUI/Calendar/Classes/Core/CalendarMonthGrid.swift
  Backpack-SwiftUI/Calendar/Classes/Core/CalendarTypeContainerFactory.swift
  Backpack-SwiftUI/Calendar/Classes/Range/Cells/EmptyRangeSelectionCalendarDayCell.swift
  Backpack-SwiftUI/Calendar/Classes/Range/Cells/InbetweenSelectionCell.swift
  Backpack-SwiftUI/Calendar/Classes/Range/Cells/LowerAndUpperBoundSelectedCell.swift
  Backpack-SwiftUI/Calendar/Classes/Range/Cells/LowerBoundSelectedCell.swift
  Backpack-SwiftUI/Calendar/Classes/Range/Cells/RangeSelectionCalendarDayCell.swift
  Backpack-SwiftUI/Calendar/Classes/Range/Cells/UpperBoundSelectedCell.swift
  Backpack-SwiftUI/Calendar/Classes/Range/RangeCalendarContainer.swift
  Backpack-SwiftUI/Calendar/Classes/Range/RangeDayAccessibilityProvider.swift
  Backpack-SwiftUI/Calendar/Classes/Single/SingleCalendarContainer.swift
  Backpack-SwiftUI/Calendar/Classes/Single/SingleDayAccessibilityProvider.swift
  Backpack-SwiftUI/Calendar/Classes/Single/SingleSelectedCell.swift
  Backpack-SwiftUI/Calendar/README.md
  Backpack-SwiftUI/Tests/Calendar/BPKCalendarTests.swift
  Backpack-SwiftUI/Tests/Calendar/__Snapshots__/BPKCalendarTests/test_rangeCalendarDayCells.dark-mode.png
  Backpack-SwiftUI/Tests/Calendar/__Snapshots__/BPKCalendarTests/test_rangeCalendarDayCells.light-mode.png
  Backpack-SwiftUI/Tests/Calendar/__Snapshots__/BPKCalendarTests/test_rangeCalendarDayCells.rtl.png
  Backpack-SwiftUI/Tests/Calendar/__Snapshots__/BPKCalendarTests/test_rangeSelectionCalendar_differentMonth.dark-mode.png
  Backpack-SwiftUI/Tests/Calendar/__Snapshots__/BPKCalendarTests/test_rangeSelectionCalendar_differentMonth.light-mode.png
  Backpack-SwiftUI/Tests/Calendar/__Snapshots__/BPKCalendarTests/test_rangeSelectionCalendar_differentMonth.rtl.png
  Backpack-SwiftUI/Tests/Calendar/__Snapshots__/BPKCalendarTests/test_rangeSelectionCalendar_sameDay.dark-mode.png
  Backpack-SwiftUI/Tests/Calendar/__Snapshots__/BPKCalendarTests/test_rangeSelectionCalendar_sameDay.light-mode.png
  Backpack-SwiftUI/Tests/Calendar/__Snapshots__/BPKCalendarTests/test_rangeSelectionCalendar_sameDay.rtl.png
  Backpack-SwiftUI/Tests/Calendar/__Snapshots__/BPKCalendarTests/test_rangeSelectionCalendar_sameMonth.dark-mode.png
  Backpack-SwiftUI/Tests/Calendar/__Snapshots__/BPKCalendarTests/test_rangeSelectionCalendar_sameMonth.light-mode.png
  Backpack-SwiftUI/Tests/Calendar/__Snapshots__/BPKCalendarTests/test_rangeSelectionCalendar_sameMonth.rtl.png
  Backpack-SwiftUI/Tests/Calendar/__Snapshots__/BPKCalendarTests/test_singleSelectionCalendar.dark-mode.png
  Backpack-SwiftUI/Tests/Calendar/__Snapshots__/BPKCalendarTests/test_singleSelectionCalendar.light-mode.png
  Backpack-SwiftUI/Tests/Calendar/__Snapshots__/BPKCalendarTests/test_singleSelectionCalendar.rtl.png
  Example/Backpack Screenshot/SwiftUIScreenshots.swift
  Example/Backpack.xcodeproj/project.pbxproj
  Example/Backpack/SwiftUI/Components/Calendar/CalendarExampleRangeView.swift
  Example/Backpack/SwiftUI/Components/Calendar/CalendarExampleSingleView.swift
  Example/Backpack/Utils/FeatureStories/ComponentCells.swift
  Example/Backpack/Utils/FeatureStories/Groups/CalendarGroups.swift
  screenshots/iPhone-swiftui_calendar___range_dm.png
  screenshots/iPhone-swiftui_calendar___range_lm.png
  screenshots/iPhone-swiftui_calendar___single_dm.png
  screenshots/iPhone-swiftui_calendar___single_lm.png
Labels: swiftui, minor, new-component
