Repository Skyscanner/backpack-ios, pull requests merged in 2023-12, with the labels that each got.

#1831 fix: LMN-806 use timezone for month formatter
  Backpack-SwiftUI/Calendar/Classes/BPKCalendar.swift
  Example/Backpack/SwiftUI/Components/Calendar/CalendarExampleRangeView.swift
  Example/Backpack/SwiftUI/Components/Calendar/CalendarExampleSingleView.swift
Labels: swiftui, patch

#1833 Comment out "uitests" module in CI script
  scripts/ci
Labels: skip-changelog

#1834 Conform BPKAppSearchModalResults to Equatable
  Backpack-SwiftUI/AppSearchModal/Classes/BPKAppSearchModalResults.swift
Labels: minor

#1836 SONIC-2126: BPKCarousel page indicator should update when delegate = nil
  Backpack/Carousel/Classes/BPKCarousel.swift
Labels: minor

#1842 fix: LMN-925 BPKAppSearchModal recreating TextField when changing from loading to content
  Backpack-SwiftUI/AppSearchModal/Classes/BPKAppSearchModal.swift
  Example/Backpack.xcodeproj/project.pbxproj
  Example/Backpack/SwiftUI/Components/AppSearchModal/AppSearchModalExampleView.swift
  Example/Backpack/SwiftUI/Components/AppSearchModal/AppSearchModalExampleViewModel.swift
  Example/Backpack/Utils/FeatureStories/Groups/AppSearchModalGroups.swift
Labels: swiftui, patch

#1843 [NoJira] Properly disable UITests
  .github/workflows/_build.yml
  scripts/ci
Labels: skip-changelog

#1845 Add dragging state for leading and trailing thumbs in BPKRangeSlider
  Backpack-SwiftUI/Slider/Classes/BPKRangeSlider.swift
  Backpack-SwiftUI/Tests/Slider/SliderTests.swift
  Backpack-SwiftUI/Tests/Slider/__Snapshots__/SliderTests/testRangeSliderWithThumbnailLabels.dark-mode.png
  Backpack-SwiftUI/Tests/Slider/__Snapshots__/SliderTests/testRangeSliderWithThumbnailLabels.light-mode.png
  Backpack-SwiftUI/Tests/Slider/__Snapshots__/SliderTests/testRangeSliderWithThumbnailLabels.rtl.png
Labels: swiftui, minor

#1846 Update BPKText to use LocalizedStringKey for text
  Backpack-SwiftUI/Tests/Text/BPKTextTests.swift
  Backpack-SwiftUI/Tests/Text/__Snapshots__/BPKTextTests/test_withStyledText.dark-mode.png
  Backpack-SwiftUI/Tests/Text/__Snapshots__/BPKTextTests/test_withStyledText.light-mode.png
  Backpack-SwiftUI/Tests/Text/__Snapshots__/BPKTextTests/test_withStyledText.rtl.png
  Backpack-SwiftUI/Text/Classes/BPKText.swift
Labels: swiftui, minor
