Repository Skyscanner/backpack-ios, pull requests merged in 2024-11, with the labels that each got.

#2103 Remove app center dependency
  Example/Backpack.xcodeproj/project.pbxproj
  Example/Backpack/AppDelegate.swift
  Example/Podfile
  Example/Podfile.lock
Labels: skip-changelog

#2102 [DON-962] Initial scroll to month in Backpack Calendar
  Backpack-SwiftUI/Calendar/Classes/BPKCalendar.swift
  Backpack-SwiftUI/Calendar/Classes/Core/CalendarContainer.swift
  Backpack-SwiftUI/Calendar/Classes/Core/CalendarTypeContainerFactory.swift
  Backpack-SwiftUI/Calendar/Classes/Core/MonthScroll.swift
  Backpack-SwiftUI/Calendar/Classes/Range/RangeCalendarContainer.swift
  Backpack-SwiftUI/Calendar/Classes/Single/SingleCalendarContainer.swift
  Example/Backpack/SwiftUI/Components/Calendar/CalendarExampleRangeView.swift
  Example/Backpack/SwiftUI/Components/Calendar/CalendarExampleSingleView.swift
  Example/Backpack/Utils/FeatureStories/Groups/CalendarGroups.swift
Labels: swiftui, minor

#2106 Update color for BPKHotelStarRating
  Backpack-SwiftUI/StarRating/Classes/BPKHotelStarRating.swift
  Backpack-SwiftUI/Tests/StarRating/__Snapshots__/BPKStarRatingTests/test_hotelStars.dark-mode.png
  Backpack-SwiftUI/Tests/StarRating/__Snapshots__/BPKStarRatingTests/test_hotelStars.light-mode.png
  Backpack-SwiftUI/Tests/StarRating/__Snapshots__/BPKStarRatingTests/test_hotelStars.rtl.png
  screenshots/iPhone-swiftui_star-rating___all_dm.png
  screenshots/iPhone-swiftui_star-rating___all_lm.png
Labels: minor

#2109 Update GitHub Actions to use macOS 15 for all workflows
  .github/workflows/_build-docs.yml
  .github/workflows/_build.yml
  .github/workflows/_test.yml
  .github/workflows/release.yml
Labels: skip-changelog

#2104 [DON-715] Add capabilities to `BPKcalendar` required for wholeMonth selection
  Backpack-SwiftUI/Calendar/Classes/BPKCalendar.swift
  Backpack-SwiftUI/Calendar/Classes/CalendarMonthAccessoryAction.swift
  Backpack-SwiftUI/Calendar/Classes/CalendarMonthHeader.swift
  Backpack-SwiftUI/Calendar/Classes/CalendarRangeSelectionState.swift
  Backpack-SwiftUI/Calendar/Classes/Core/CalendarTypeContainerFactory.swift
  Backpack-SwiftUI/Calendar/Classes/Date+GetMonthDateRange.swift
  Backpack-SwiftUI/Calendar/Classes/Range/Cells/EmptyRangeSelectionCalendarDayCell.swift
  Backpack-SwiftUI/Calendar/Classes/Range/Cells/LowerBoundSelectedCell.swift
  Backpack-SwiftUI/Calendar/Classes/Range/Cells/RangeSelectionCalendarDayCell.swift
  Backpack-SwiftUI/Calendar/Classes/Range/Cells/UpperBoundSelectedCell.swift
  Backpack-SwiftUI/Calendar/Classes/Range/RangeCalendarContainer.swift
  Backpack-SwiftUI/Calendar/Classes/Range/RangeDayAccessibilityProvider.swift
  Backpack-SwiftUI/Tests/Calendar/BPKCalendarTests.swift
  Example/Backpack.xcodeproj/project.pbxproj
  Example/Backpack/SwiftUI/Components/Calendar/CalendarExampleWholeMonthView.swift
  Example/Backpack/Utils/FeatureStories/Groups/CalendarGroups.swift
Labels: swiftui, minor

#2101 [MUON-663] BPKGraphicPromo Changes
  Backpack-SwiftUI/GraphicPromo/Classes/BPKGraphicPromo.swift
  Backpack-SwiftUI/Tests/GraphicPromo/BPKGraphicPromoTests.swift
  Backpack-SwiftUI/Tests/GraphicPromo/__Snapshots__/BPKGraphicPromoTests/test_sponsored_noLogo.dark-mode.png
  Backpack-SwiftUI/Tests/GraphicPromo/__Snapshots__/BPKGraphicPromoTests/test_sponsored_noLogo.light-mode.png
  Backpack-SwiftUI/Tests/GraphicPromo/__Snapshots__/BPKGraphicPromoTests/test_sponsored_noLogo.rtl.png
Labels: swiftui, minor, bpk

#2111 Update `BPKSelect` vertical spacing
  Backpack-SwiftUI/Select/Classes/BPKSelect.swift
  Backpack-SwiftUI/Tests/Select/__Snapshots__/SelectTests/test_defaultSettings.dark-mode.png
  Backpack-SwiftUI/Tests/Select/__Snapshots__/SelectTests/test_defaultSettings.light-mode.png
  Backpack-SwiftUI/Tests/Select/__Snapshots__/SelectTests/test_defaultSettings.rtl.png
  Backpack-SwiftUI/Tests/Select/__Snapshots__/SelectTests/test_disabledState.dark-mode.png
  Backpack-SwiftUI/Tests/Select/__Snapshots__/SelectTests/test_disabledState.light-mode.png
  Backpack-SwiftUI/Tests/Select/__Snapshots__/SelectTests/test_disabledState.rtl.png
  Backpack-SwiftUI/Tests/Select/__Snapshots__/SelectTests/test_emptyOptions.dark-mode.png
  Backpack-SwiftUI/Tests/Select/__Snapshots__/SelectTests/test_emptyOptions.light-mode.png
  Backpack-SwiftUI/Tests/Select/__Snapshots__/SelectTests/test_emptyOptions.rtl.png
  Backpack-SwiftUI/Tests/Select/__Snapshots__/SelectTests/test_errorState.dark-mode.png
  Backpack-SwiftUI/Tests/Select/__Snapshots__/SelectTests/test_errorState.light-mode.png
  Backpack-SwiftUI/Tests/Select/__Snapshots__/SelectTests/test_errorState.rtl.png
  Backpack-SwiftUI/Tests/Select/__Snapshots__/SelectTests/test_selectOutOfBoundsItem.dark-mode.png
  Backpack-SwiftUI/Tests/Select/__Snapshots__/SelectTests/test_selectOutOfBoundsItem.light-mode.png
  Backpack-SwiftUI/Tests/Select/__Snapshots__/SelectTests/test_selectOutOfBoundsItem.rtl.png
  Backpack-SwiftUI/Tests/Select/__Snapshots__/SelectTests/test_selectSecondItem.dark-mode.png
  Backpack-SwiftUI/Tests/Select/__Snapshots__/SelectTests/test_selectSecondItem.light-mode.png
  Backpack-SwiftUI/Tests/Select/__Snapshots__/SelectTests/test_selectSecondItem.rtl.png
  screenshots/iPhone-swiftui_select___picker_closed_dm.png
  screenshots/iPhone-swiftui_select___picker_closed_lm.png
  screenshots/iPhone-swiftui_select___picker_open_dm.png
  screenshots/iPhone-swiftui_select___picker_open_lm.png
Labels: swiftui, minor

#2110 [APP-83] The first day of week in the Calendar based on the User Localisation
  Backpack-SwiftUI/Calendar/Classes/CalendarHeader.swift
  Backpack-SwiftUI/Calendar/Classes/Core/CalendarMonthGrid.swift
  Backpack-SwiftUI/Tests/Calendar/__Snapshots__/BPKCalendarTests/test_rangeSelectionCalendar_differentMonth.dark-mode.png
  Backpack-SwiftUI/Tests/Calendar/__Snapshots__/BPKCalendarTests/test_rangeSelectionCalendar_differentMonth.light-mode.png
  Backpack-SwiftUI/Tests/Calendar/__Snapshots__/BPKCalendarTests/test_rangeSelectionCalendar_differentMonth.rtl.png
  Backpack-SwiftUI/Tests/Calendar/__Snapshots__/BPKCalendarTests/test_rangeSelectionCalendar_sameDay.dark-mode.png
  Backpack-SwiftUI/Tests/Calendar/__Snapshots__/BPKCalendarTests/test_rangeSelectionCalendar_sameDay.light-mode.png
  Backpack-SwiftUI/Tests/Calendar/__Snapshots__/BPKCalendarTests/test_rangeSelectionCalendar_sameDay.rtl.png
  Backpack-SwiftUI/Tests/Calendar/__Snapshots__/BPKCalendarTests/test_rangeSelectionCalendar_sameMonth.dark-mode.png
  Backpack-SwiftUI/Tests/Calendar/__Snapshots__/BPKCalendarTests/test_rangeSelectionCalendar_sameMonth.light-mode.png
  Backpack-SwiftUI/Tests/Calendar/__Snapshots__/BPKCalendarTests/test_rangeSelectionCalendar_sameMonth.rtl.png
  Backpack-SwiftUI/Tests/Calendar/__Snapshots__/BPKCalendarTests/test_rangeSelectionCalendar_withAccessoryView.dark-mode.png
  Backpack-SwiftUI/Tests/Calendar/__Snapshots__/BPKCalendarTests/test_rangeSelectionCalendar_withAccessoryView.light-mode.png
  Backpack-SwiftUI/Tests/Calendar/__Snapshots__/BPKCalendarTests/test_rangeSelectionCalendar_withAccessoryView.rtl.png
  Backpack-SwiftUI/Tests/Calendar/__Snapshots__/BPKCalendarTests/test_singleSelectionCalendar.dark-mode.png
  Backpack-SwiftUI/Tests/Calendar/__Snapshots__/BPKCalendarTests/test_singleSelectionCalendar.light-mode.png
  Backpack-SwiftUI/Tests/Calendar/__Snapshots__/BPKCalendarTests/test_singleSelectionCalendar.rtl.png
Labels: swiftui, minor

#2107 [PAN-3453][iOS][Backpack] Bpk price component updating for price carousel
  Backpack-SwiftUI/Price/Classes/BPKPrice.swift
  Backpack-SwiftUI/Tests/Price/__Snapshots__/PriceTests/test_extraSmall_withTrailingAlignment.dark-mode.png
  Backpack-SwiftUI/Tests/Price/__Snapshots__/PriceTests/test_extraSmall_withTrailingAlignment.light-mode.png
  Backpack-SwiftUI/Tests/Price/__Snapshots__/PriceTests/test_extraSmall_withTrailingAlignment.rtl.png
  Backpack-SwiftUI/Tests/Price/__Snapshots__/PriceTests/test_large_withTrailingAlignment.dark-mode.png
  Backpack-SwiftUI/Tests/Price/__Snapshots__/PriceTests/test_large_withTrailingAlignment.light-mode.png
  Backpack-SwiftUI/Tests/Price/__Snapshots__/PriceTests/test_large_withTrailingAlignment.rtl.png
  Backpack-SwiftUI/Tests/Price/__Snapshots__/PriceTests/test_small_withTrailingAlignment.dark-mode.png
  Backpack-SwiftUI/Tests/Price/__Snapshots__/PriceTests/test_small_withTrailingAlignment.light-mode.png
  Backpack-SwiftUI/Tests/Price/__Snapshots__/PriceTests/test_small_withTrailingAlignment.rtl.png
Labels: swiftui, minor

#2114 [MUON-577] Tablet layout for BPKGraphicPromo
  Backpack-SwiftUI/GraphicPromo/Classes/BPKGraphicPromo.swift
  Backpack-SwiftUI/Tests/GraphicPromo/BPKGraphicPromoTests.swift
  Backpack-SwiftUI/Tests/GraphicPromo/__Snapshots__/BPKGraphicPromoTests/test_sponsored_desktopLayout.dark-mode.png
  Backpack-SwiftUI/Tests/GraphicPromo/__Snapshots__/BPKGraphicPromoTests/test_sponsored_desktopLayout.light-mode.png
  Backpack-SwiftUI/Tests/GraphicPromo/__Snapshots__/BPKGraphicPromoTests/test_sponsored_desktopLayout.rtl.png
  Backpack-SwiftUI/Tests/GraphicPromo/__Snapshots__/BPKGraphicPromoTests/test_sponsored_tabletLayout.dark-mode.png
  Backpack-SwiftUI/Tests/GraphicPromo/__Snapshots__/BPKGraphicPromoTests/test_sponsored_tabletLayout.light-mode.png
  Backpack-SwiftUI/Tests/GraphicPromo/__Snapshots__/BPKGraphicPromoTests/test_sponsored_tabletLayout.rtl.png
Labels: minor, bpk
