Repository Skyscanner/backpack-ios, pull requests merged in 2024-08, with the labels that each got.

#2034 [BPKText] SwiftUI, adjust DynamicType test
  Backpack-SwiftUI/Tests/Text/BPKTextDynamicTypeTests.swift
  Backpack-SwiftUI/Tests/Text/__Snapshots__/BPKTextDynamicTypeTests/test_dynamicType.a11y.png
  Backpack-SwiftUI/Tests/Text/__Snapshots__/BPKTextDynamicTypeTests/test_dynamicType.dynamic_type_a11y_3xl.png
  Backpack-SwiftUI/Tests/Text/__Snapshots__/BPKTextDynamicTypeTests/test_dynamicType.dynamic_type_a11y_m.png
  Backpack-SwiftUI/Tests/Text/__Snapshots__/BPKTextDynamicTypeTests/test_dynamicType.dynamic_type_l.png
  Backpack-SwiftUI/Tests/Text/__Snapshots__/BPKTextDynamicTypeTests/test_dynamicType.dynamic_type_xs.png
Labels: patch, Accessibility

#2027 AI-633: BannerAlert Component
  Backpack-SwiftUI/BannerAlert/Classes/BPKBannerAlert.swift
  Backpack-SwiftUI/BannerAlert/Classes/BPKBannerAlertStyle.swift
  Backpack-SwiftUI/BannerAlert/Classes/BPKBannerAlertType.swift
  Backpack-SwiftUI/BannerAlert/README.md
  Backpack-SwiftUI/Icons/Classes/BPKIconView.swift
  Backpack-SwiftUI/Tests/BannerAlert/BPKBannerAlertTests.swift
  Backpack-SwiftUI/Tests/BannerAlert/__Snapshots__/BPKBannerAlertTests/test_accessibilityDynamicType.a11y.png
  Backpack-SwiftUI/Tests/BannerAlert/__Snapshots__/BPKBannerAlertTests/test_errorBannerAlertWithDefaultStyle.dark-mode.png
  Backpack-SwiftUI/Tests/BannerAlert/__Snapshots__/BPKBannerAlertTests/test_errorBannerAlertWithDefaultStyle.light-mode.png
  Backpack-SwiftUI/Tests/BannerAlert/__Snapshots__/BPKBannerAlertTests/test_errorBannerAlertWithDefaultStyle.rtl.png
  Backpack-SwiftUI/Tests/BannerAlert/__Snapshots__/BPKBannerAlertTests/test_errorBannerAlertWithOncontrastStyle.dark-mode.png
  Backpack-SwiftUI/Tests/BannerAlert/__Snapshots__/BPKBannerAlertTests/test_errorBannerAlertWithOncontrastStyle.light-mode.png
  Backpack-SwiftUI/Tests/BannerAlert/__Snapshots__/BPKBannerAlertTests/test_errorBannerAlertWithOncontrastStyle.rtl.png
  Backpack-SwiftUI/Tests/BannerAlert/__Snapshots__/BPKBannerAlertTests/test_infoBannerAlertWithDefaultStyle.dark-mode.png
  Backpack-SwiftUI/Tests/BannerAlert/__Snapshots__/BPKBannerAlertTests/test_infoBannerAlertWithDefaultStyle.light-mode.png
  Backpack-SwiftUI/Tests/BannerAlert/__Snapshots__/BPKBannerAlertTests/test_infoBannerAlertWithDefaultStyle.rtl.png
  Backpack-SwiftUI/Tests/BannerAlert/__Snapshots__/BPKBannerAlertTests/test_infoBannerAlertWithOncontrastStyle.dark-mode.png
  Backpack-SwiftUI/Tests/BannerAlert/__Snapshots__/BPKBannerAlertTests/test_infoBannerAlertWithOncontrastStyle.light-mode.png
  Backpack-SwiftUI/Tests/BannerAlert/__Snapshots__/BPKBannerAlertTests/test_infoBannerAlertWithOncontrastStyle.rtl.png
  Backpack-SwiftUI/Tests/BannerAlert/__Snapshots__/BPKBannerAlertTests/test_multilineBannerAlert.dark-mode.png
  Backpack-SwiftUI/Tests/BannerAlert/__Snapshots__/BPKBannerAlertTests/test_multilineBannerAlert.light-mode.png
  Backpack-SwiftUI/Tests/BannerAlert/__Snapshots__/BPKBannerAlertTests/test_multilineBannerAlert.rtl.png
  Backpack-SwiftUI/Tests/BannerAlert/__Snapshots__/BPKBannerAlertTests/test_multilineBannerAlertWithDefaultStyle.dark-mode.png
  Backpack-SwiftUI/Tests/BannerAlert/__Snapshots__/BPKBannerAlertTests/test_multilineBannerAlertWithDefaultStyle.light-mode.png
  Backpack-SwiftUI/Tests/BannerAlert/__Snapshots__/BPKBannerAlertTests/test_multilineBannerAlertWithDefaultStyle.rtl.png
  Backpack-SwiftUI/Tests/BannerAlert/__Snapshots__/BPKBannerAlertTests/test_multilineBannerAlertWithOncontrastStyle.dark-mode.png
  Backpack-SwiftUI/Tests/BannerAlert/__Snapshots__/BPKBannerAlertTests/test_multilineBannerAlertWithOncontrastStyle.light-mode.png
  Backpack-SwiftUI/Tests/BannerAlert/__Snapshots__/BPKBannerAlertTests/test_multilineBannerAlertWithOncontrastStyle.rtl.png
  Backpack-SwiftUI/Tests/BannerAlert/__Snapshots__/BPKBannerAlertTests/test_successBannerAlertWithDefaultStyle.dark-mode.png
  Backpack-SwiftUI/Tests/BannerAlert/__Snapshots__/BPKBannerAlertTests/test_successBannerAlertWithDefaultStyle.light-mode.png
  Backpack-SwiftUI/Tests/BannerAlert/__Snapshots__/BPKBannerAlertTests/test_successBannerAlertWithDefaultStyle.rtl.png
  Backpack-SwiftUI/Tests/BannerAlert/__Snapshots__/BPKBannerAlertTests/test_successBannerAlertWithOncontrastStyle.dark-mode.png
  Backpack-SwiftUI/Tests/BannerAlert/__Snapshots__/BPKBannerAlertTests/test_successBannerAlertWithOncontrastStyle.light-mode.png
  Backpack-SwiftUI/Tests/BannerAlert/__Snapshots__/BPKBannerAlertTests/test_successBannerAlertWithOncontrastStyle.rtl.png
  Backpack-SwiftUI/Tests/BannerAlert/__Snapshots__/BPKBannerAlertTests/test_warningBannerAlertWithDefaultStyle.dark-mode.png
  Backpack-SwiftUI/Tests/BannerAlert/__Snapshots__/BPKBannerAlertTests/test_warningBannerAlertWithDefaultStyle.light-mode.png
  Backpack-SwiftUI/Tests/BannerAlert/__Snapshots__/BPKBannerAlertTests/test_warningBannerAlertWithDefaultStyle.rtl.png
  Backpack-SwiftUI/Tests/BannerAlert/__Snapshots__/BPKBannerAlertTests/test_warningBannerAlertWithOncontrastStyle.dark-mode.png
  Backpack-SwiftUI/Tests/BannerAlert/__Snapshots__/BPKBannerAlertTests/test_warningBannerAlertWithOncontrastStyle.light-mode.png
  Backpack-SwiftUI/Tests/BannerAlert/__Snapshots__/BPKBannerAlertTests/test_warningBannerAlertWithOncontrastStyle.rtl.png
  Example/Backpack Screenshot/SwiftUIScreenshots.swift
  Example/Backpack.xcodeproj/project.pbxproj
  Example/Backpack/SwiftUI/Components/BannerAlert/BannerAlertExampleView.swift
  Example/Backpack/Utils/FeatureStories/ComponentCells.swift
  screenshots/iPhone SE (3rd generation)-swiftui_banner-alert___default_dm.png
  screenshots/iPhone SE (3rd generation)-swiftui_banner-alert___default_lm.png
Labels: swiftui, minor

#2022 [ChAI] [AI-641]: Contribute BPKCardCarousel to backpack-ios
  Backpack-SwiftUI/CardCarousel/Classes/BPKCardCarousel.swift
  Backpack-SwiftUI/CardCarousel/README.md
  Backpack-SwiftUI/Tests/CardCarousel/BPKCardCarouselTests.swift
  Backpack-SwiftUI/Tests/CardCarousel/__Snapshots__/BPKCardCarouselTests/testCardCarousel.dark-mode.png
  Backpack-SwiftUI/Tests/CardCarousel/__Snapshots__/BPKCardCarouselTests/testCardCarousel.light-mode.png
  Backpack-SwiftUI/Tests/CardCarousel/__Snapshots__/BPKCardCarouselTests/testCardCarousel.rtl.png
  Backpack-SwiftUI/Tests/CardCarousel/__Snapshots__/BPKCardCarouselTests/test_accessibility.a11y.png
  Example/Backpack Screenshot/Screenshots.swift
  Example/Backpack Screenshot/SwiftUIScreenshots.swift
  Example/Backpack.xcodeproj/project.pbxproj
  Example/Backpack/SwiftUI/Components/CardCarousel/CardCarouselExampleView.swift
  Example/Backpack/Utils/FeatureStories/ComponentCells.swift
  screenshots/iPhone-card-carousel__default_dm.png
  screenshots/iPhone-card-carousel__default_lm.png
Labels: swiftui, minor

#1936 Adds strict concurrency checks
  Backpack-SwiftUI/Color/Classes/BPKColor.swift
  Backpack-SwiftUI/Flare/Classes/BPKFlareView.swift
  Backpack-SwiftUI/Spacing/Classes/BPKSpacing+Extensions.swift
  Example/Backpack.xcodeproj/project.pbxproj
  Example/Backpack/UIKit/Components/Horizontal navigation/HorizontalNavViewController.swift
  Example/Backpack/Utils/FeatureStories/ComponentCells.swift
  Example/Backpack/Utils/FeatureStories/Groups/AppSearchModalGroups.swift
  Example/Backpack/Utils/FeatureStories/Groups/ButtonGroups.swift
  Example/Backpack/Utils/FeatureStories/Groups/CalendarGroups.swift
  Example/Backpack/Utils/FeatureStories/Groups/CardGroups.swift
  Example/Backpack/Utils/FeatureStories/Groups/CardListGroups.swift
  Example/Backpack/Utils/FeatureStories/Groups/ChipGroupProvider.swift
  Example/Backpack/Utils/FeatureStories/Groups/ChipGroups.swift
  Example/Backpack/Utils/FeatureStories/Groups/GraphicPromoGroupsProvider.swift
  Example/Backpack/Utils/FeatureStories/Groups/LabelGroups.swift
  Example/Backpack/Utils/FeatureStories/Groups/OverlayGroupsProvider.swift
  Example/Backpack/Utils/FeatureStories/Groups/PriceGroupsProvider.swift
  Example/Backpack/Utils/FeatureStories/Groups/RatingGroupsProvider.swift
  Example/Backpack/Utils/FeatureStories/Groups/SectionHeaderGroups.swift
  Example/Backpack/Utils/FeatureStories/Groups/SliderGroups.swift
  Example/Backpack/Utils/FeatureStories/Groups/SnippetGroups.swift
  Example/Backpack/Utils/FeatureStories/Groups/StarRatingGroupsProvider.swift
  Example/Backpack/Utils/FeatureStories/Groups/TextGroups.swift
  Example/Backpack/Utils/FeatureStories/Tab.swift
  Example/Backpack/Utils/FeatureStories/TokenCells.swift
  Example/Backpack/Utils/PresentableNavigator.swift
  Example/Backpack/Utils/RootViewControllerFactory.swift
  Example/Backpack/Utils/UIWindowFactory.swift
Labels: minor

#2037 [ChAI] [AI-643]: Add accessibilty to carousel card
  Backpack-SwiftUI/CarouselCard/Classes/BPKCarouselCard.swift
  Backpack-SwiftUI/Tests/CardCarousel/__Snapshots__/BPKCardCarouselTests/testCardCarousel.dark-mode.png
  Backpack-SwiftUI/Tests/CardCarousel/__Snapshots__/BPKCardCarouselTests/testCardCarousel.light-mode.png
  Backpack-SwiftUI/Tests/CardCarousel/__Snapshots__/BPKCardCarouselTests/testCardCarousel.rtl.png
  Backpack-SwiftUI/Tests/CardCarousel/__Snapshots__/BPKCardCarouselTests/test_accessibility.a11y.png
  Backpack-SwiftUI/Tests/CarouselCard/__Snapshots__/BPKCarouselCardTests/test_accessibility.a11y.png
Labels: swiftui, minor

#2042 [AI-643] [ChAI]: Add accessibility to new CarouselCard
  Backpack-SwiftUI/CarouselCard/Classes/BPKCarouselCard.swift
Labels: swiftui, minor

#2046 [LMN1597][BpkImageGalleryGrid] Fix switching reset scroll view position
  Backpack-SwiftUI/ImageGalleryGrid/Classes/ImageGalleryGridContentView.swift
Labels: minor

#2038 DON-591: Contribute Search Control Input component
  Backpack-SwiftUI/SearchControlInput/Classes/SearchControlInput.swift
  Backpack-SwiftUI/SearchControlInput/README.md
  Backpack-SwiftUI/Tests/SearchControlInput/BPKSearchControlInputTests.swift
  Backpack-SwiftUI/Tests/SearchControlInput/__Snapshots__/BPKSearchControlInputTests/test_accessibility.a11y.png
  Backpack-SwiftUI/Tests/SearchControlInput/__Snapshots__/BPKSearchControlInputTests/test_accessibility_withLongText.a11y.png
  Backpack-SwiftUI/Tests/SearchControlInput/__Snapshots__/BPKSearchControlInputTests/test_defaultSearchControlInput.dark-mode.png
  Backpack-SwiftUI/Tests/SearchControlInput/__Snapshots__/BPKSearchControlInputTests/test_defaultSearchControlInput.light-mode.png
  Backpack-SwiftUI/Tests/SearchControlInput/__Snapshots__/BPKSearchControlInputTests/test_defaultSearchControlInput.rtl.png
  Backpack-SwiftUI/Tests/SearchControlInput/__Snapshots__/BPKSearchControlInputTests/test_defaultSearchControlInput_withLongText.dark-mode.png
  Backpack-SwiftUI/Tests/SearchControlInput/__Snapshots__/BPKSearchControlInputTests/test_defaultSearchControlInput_withLongText.light-mode.png
  Backpack-SwiftUI/Tests/SearchControlInput/__Snapshots__/BPKSearchControlInputTests/test_defaultSearchControlInput_withLongText.rtl.png
  Backpack-SwiftUI/Tests/SearchControlInput/__Snapshots__/BPKSearchControlInputTests/test_defaultSearchControlInput_withValue.dark-mode.png
  Backpack-SwiftUI/Tests/SearchControlInput/__Snapshots__/BPKSearchControlInputTests/test_defaultSearchControlInput_withValue.light-mode.png
  Backpack-SwiftUI/Tests/SearchControlInput/__Snapshots__/BPKSearchControlInputTests/test_defaultSearchControlInput_withValue.rtl.png
  Example/Backpack NativeUITests/SearchControlInputUITest.swift
  Example/Backpack Screenshot/SwiftUIScreenshots.swift
  Example/Backpack.xcodeproj/project.pbxproj
  Example/Backpack/SwiftUI/Components/SearchControlInput/SearchControlInputExampleView.swift
  Example/Backpack/Utils/FeatureStories/ComponentCells.swift
  screenshots/iPhone-swiftui_search-control-input___default_dm.png
  screenshots/iPhone-swiftui_search-control-input___default_lm.png
Labels: swiftui, minor, new-component

#2050 Add decision doc for accessibility identifiers in UI-tests
  decisions/README.md
  decisions/ui-test-accessibility-identifiers.md
Labels: skip-changelog

#2053 AI-638: FieldSet Component
  Backpack-SwiftUI/FieldSet/Classes/BPKFieldSet.swift
  Backpack-SwiftUI/FieldSet/Classes/BPKFieldSetState.swift
  Backpack-SwiftUI/FieldSet/README.md
  Backpack-SwiftUI/Select/Classes/BPKSelect+FieldSet.swift
  Backpack-SwiftUI/Tests/FieldSet/BPKFieldSetTests.swift
  Backpack-SwiftUI/Tests/FieldSet/__Snapshots__/BPKFieldSetTests/test_defaultStateWithLabelAndDescription.dark-mode.png
  Backpack-SwiftUI/Tests/FieldSet/__Snapshots__/BPKFieldSetTests/test_defaultStateWithLabelAndDescription.light-mode.png
  Backpack-SwiftUI/Tests/FieldSet/__Snapshots__/BPKFieldSetTests/test_defaultStateWithLabelAndDescription.rtl.png
  Backpack-SwiftUI/Tests/FieldSet/__Snapshots__/BPKFieldSetTests/test_defaultStateWithLabelAndNoDescription.dark-mode.png
  Backpack-SwiftUI/Tests/FieldSet/__Snapshots__/BPKFieldSetTests/test_defaultStateWithLabelAndNoDescription.light-mode.png
  Backpack-SwiftUI/Tests/FieldSet/__Snapshots__/BPKFieldSetTests/test_defaultStateWithLabelAndNoDescription.rtl.png
  Backpack-SwiftUI/Tests/FieldSet/__Snapshots__/BPKFieldSetTests/test_defaultStateWithNoLabelAndDescription.dark-mode.png
  Backpack-SwiftUI/Tests/FieldSet/__Snapshots__/BPKFieldSetTests/test_defaultStateWithNoLabelAndDescription.light-mode.png
  Backpack-SwiftUI/Tests/FieldSet/__Snapshots__/BPKFieldSetTests/test_defaultStateWithNoLabelAndDescription.rtl.png
  Backpack-SwiftUI/Tests/FieldSet/__Snapshots__/BPKFieldSetTests/test_defaultStateWithNoLabelAndNoDescription.dark-mode.png
  Backpack-SwiftUI/Tests/FieldSet/__Snapshots__/BPKFieldSetTests/test_defaultStateWithNoLabelAndNoDescription.light-mode.png
  Backpack-SwiftUI/Tests/FieldSet/__Snapshots__/BPKFieldSetTests/test_defaultStateWithNoLabelAndNoDescription.rtl.png
  Backpack-SwiftUI/Tests/FieldSet/__Snapshots__/BPKFieldSetTests/test_errorStateWithLabelAndDescription.dark-mode.png
  Backpack-SwiftUI/Tests/FieldSet/__Snapshots__/BPKFieldSetTests/test_errorStateWithLabelAndDescription.light-mode.png
  Backpack-SwiftUI/Tests/FieldSet/__Snapshots__/BPKFieldSetTests/test_errorStateWithLabelAndDescription.rtl.png
  Backpack-SwiftUI/Tests/FieldSet/__Snapshots__/BPKFieldSetTests/test_errorStateWithLabelAndNoDescription.dark-mode.png
  Backpack-SwiftUI/Tests/FieldSet/__Snapshots__/BPKFieldSetTests/test_errorStateWithLabelAndNoDescription.light-mode.png
  Backpack-SwiftUI/Tests/FieldSet/__Snapshots__/BPKFieldSetTests/test_errorStateWithLabelAndNoDescription.rtl.png
  Backpack-SwiftUI/Tests/FieldSet/__Snapshots__/BPKFieldSetTests/test_errorStateWithNoLabelAndDescription.dark-mode.png
  Backpack-SwiftUI/Tests/FieldSet/__Snapshots__/BPKFieldSetTests/test_errorStateWithNoLabelAndDescription.light-mode.png
  Backpack-SwiftUI/Tests/FieldSet/__Snapshots__/BPKFieldSetTests/test_errorStateWithNoLabelAndDescription.rtl.png
  Backpack-SwiftUI/Tests/FieldSet/__Snapshots__/BPKFieldSetTests/test_errorStateWithNoLabelAndNoDescription.dark-mode.png
  Backpack-SwiftUI/Tests/FieldSet/__Snapshots__/BPKFieldSetTests/test_errorStateWithNoLabelAndNoDescription.light-mode.png
  Backpack-SwiftUI/Tests/FieldSet/__Snapshots__/BPKFieldSetTests/test_errorStateWithNoLabelAndNoDescription.rtl.png
  Backpack-SwiftUI/TextArea/Classes/BPKTextArea+FieldSet.swift
  Backpack-SwiftUI/TextField/Classes/BPKTextField+FieldSet.swift
  Example/Backpack Screenshot/SwiftUIScreenshots.swift
  Example/Backpack.xcodeproj/project.pbxproj
  Example/Backpack/SwiftUI/Components/FieldSet/FieldSetExampleView.swift
  Example/Backpack/Utils/FeatureStories/ComponentCells.swift
  Example/Backpack/Utils/FeatureStories/Groups/FieldSetGroups.swift
  screenshots/iPhone-swiftui_banner-alert___default_dm.png
  screenshots/iPhone-swiftui_banner-alert___default_lm.png
  screenshots/iPhone-swiftui_field-set___default_dm.png
  screenshots/iPhone-swiftui_field-set___default_lm.png
  screenshots/iPhone-swiftui_field-set___error_dm.png
  screenshots/iPhone-swiftui_field-set___error_lm.png
Labels: swiftui, minor

#2048 [AI-707]: Update CardCarousel making drag window smaller
  Backpack-SwiftUI/CardCarousel/Classes/BPKCardCarousel.swift
  Backpack-SwiftUI/Tests/CardCarousel/BPKCardCarouselTests.swift
  Backpack-SwiftUI/Tests/CardCarousel/__Snapshots__/BPKCardCarouselTests/ipad_landscape_full.dark-mode.png
  Backpack-SwiftUI/Tests/CardCarousel/__Snapshots__/BPKCardCarouselTests/ipad_landscape_full.light-mode.png
  Backpack-SwiftUI/Tests/CardCarousel/__Snapshots__/BPKCardCarouselTests/ipad_landscape_full.rtl.png
  Backpack-SwiftUI/Tests/CardCarousel/__Snapshots__/BPKCardCarouselTests/ipad_landscape_half.dark-mode.png
  Backpack-SwiftUI/Tests/CardCarousel/__Snapshots__/BPKCardCarouselTests/ipad_landscape_half.light-mode.png
  Backpack-SwiftUI/Tests/CardCarousel/__Snapshots__/BPKCardCarouselTests/ipad_landscape_half.rtl.png
  Backpack-SwiftUI/Tests/CardCarousel/__Snapshots__/BPKCardCarouselTests/ipad_landscape_third.dark-mode.png
  Backpack-SwiftUI/Tests/CardCarousel/__Snapshots__/BPKCardCarouselTests/ipad_landscape_third.light-mode.png
  Backpack-SwiftUI/Tests/CardCarousel/__Snapshots__/BPKCardCarouselTests/ipad_landscape_third.rtl.png
  Backpack-SwiftUI/Tests/CardCarousel/__Snapshots__/BPKCardCarouselTests/ipad_landscape_two_thirds.dark-mode.png
  Backpack-SwiftUI/Tests/CardCarousel/__Snapshots__/BPKCardCarouselTests/ipad_landscape_two_thirds.light-mode.png
  Backpack-SwiftUI/Tests/CardCarousel/__Snapshots__/BPKCardCarouselTests/ipad_landscape_two_thirds.rtl.png
  Backpack-SwiftUI/Tests/CardCarousel/__Snapshots__/BPKCardCarouselTests/ipad_potrait_full.dark-mode.png
  Backpack-SwiftUI/Tests/CardCarousel/__Snapshots__/BPKCardCarouselTests/ipad_potrait_full.light-mode.png
  Backpack-SwiftUI/Tests/CardCarousel/__Snapshots__/BPKCardCarouselTests/ipad_potrait_full.rtl.png
  Backpack-SwiftUI/Tests/CardCarousel/__Snapshots__/BPKCardCarouselTests/ipad_potrait_third.dark-mode.png
  Backpack-SwiftUI/Tests/CardCarousel/__Snapshots__/BPKCardCarouselTests/ipad_potrait_third.light-mode.png
  Backpack-SwiftUI/Tests/CardCarousel/__Snapshots__/BPKCardCarouselTests/ipad_potrait_third.rtl.png
  Backpack-SwiftUI/Tests/CardCarousel/__Snapshots__/BPKCardCarouselTests/ipad_potrait_two_thirds.dark-mode.png
  Backpack-SwiftUI/Tests/CardCarousel/__Snapshots__/BPKCardCarouselTests/ipad_potrait_two_thirds.light-mode.png
  Backpack-SwiftUI/Tests/CardCarousel/__Snapshots__/BPKCardCarouselTests/ipad_potrait_two_thirds.rtl.png
  Example/Backpack/SwiftUI/Components/CardCarousel/CardCarouselExampleView.swift
Labels: swiftui, minor

#2054 AI-638: FieldSet Component
  Backpack-SwiftUI/FieldSet/Classes/BPKFieldSet.swift
  Backpack-SwiftUI/FieldSet/Classes/BPKFieldSetState.swift
  Backpack-SwiftUI/FieldSet/README.md
  Backpack-SwiftUI/Select/Classes/BPKSelect+FieldSet.swift
  Backpack-SwiftUI/Select/Classes/BPKSelect.swift
  Backpack-SwiftUI/TextArea/Classes/BPKTextArea+FieldSet.swift
  Backpack-SwiftUI/TextArea/Classes/BPKTextArea.swift
  Backpack-SwiftUI/TextField/Classes/BPKTextField+FieldSet.swift
  Backpack-SwiftUI/TextField/Classes/BPKTextField.swift
  Example/Backpack/SwiftUI/Components/FieldSet/FieldSetExampleView.swift
Labels: swiftui, minor

#2055 Update BPKMultiSelectChipGroup to handle dropdown type in chip items
  Backpack-SwiftUI/ChipGroup/Classes/BPKMultiSelectChipGroup.swift
  Example/Backpack/SwiftUI/Components/ChipGroup/MultiSelect/ChipGroupMultipleSelectWrapExampleView.swift
Labels: minor
