Repository Skyscanner/backpack-ios, pull requests merged in 2024-05, with the labels that each got.

#1957 ACC-452 - Set multiline limit to title and subtitle
  Backpack-SwiftUI/Nudger/Classes/BPKNudger.swift
  Backpack-SwiftUI/Tests/Nudger/BPKNudgerTests.swift
  Backpack-SwiftUI/Tests/Nudger/__Snapshots__/BPKNudgerTests/test_dynamic_type_on_title_and_subtitle.a11y.png
  Backpack-SwiftUI/Tests/SnapshotHelpers/SnapshotHelpers.swift
Labels: swiftui, minor, DynamicType

#1958 [DON-491] Update search modal to fix the test automation
  Backpack-SwiftUI/AppSearchModal/Classes/BPKAppSearchModal.swift
  Backpack-SwiftUI/SearchInputSummary/Classes/BPKSearchInputSummary.swift
  Backpack-SwiftUI/SearchInputSummary/README.md
Labels: swiftui, minor, bpk

#1956 Expose BPKDividedCard alignment
  Backpack-SwiftUI/Card/Classes/BPKDividedCard.swift
  Backpack-SwiftUI/Tests/Card/BPKDividedCardTests.swift
  Backpack-SwiftUI/Tests/Card/__Snapshots__/BPKDividedCardTests/testDividedCardWithLeadingAlignment.dark-mode.png
  Backpack-SwiftUI/Tests/Card/__Snapshots__/BPKDividedCardTests/testDividedCardWithLeadingAlignment.light-mode.png
  Backpack-SwiftUI/Tests/Card/__Snapshots__/BPKDividedCardTests/testDividedCardWithLeadingAlignment.rtl.png
  Example/Backpack/SwiftUI/Components/Card/DividedCardExampleView.swift
Labels: swiftui, minor

#1959 Image Grid and Slideshow to use different view builders
  Backpack-SwiftUI/ImageGalleryGrid/Classes/BPKImageGalleryGrid.swift
  Backpack-SwiftUI/ImageGalleryGrid/Classes/BPKImageGalleryImageGridStyle.swift
  Backpack-SwiftUI/ImageGalleryGrid/Classes/ImageGalleryGridContentView.swift
  Backpack-SwiftUI/ImageGallerySlideshow/Classes/BPKImageGalleryImage.swift
  Backpack-SwiftUI/ImageGallerySlideshow/Classes/BPKImageGallerySlideshow.swift
  Backpack-SwiftUI/Tests/ImageGalleryGrid/ImageGalleryGridTests.swift
  Example/Backpack/SwiftUI/Components/ImageGalleryGridView/ImageGalleryGridExampleView.swift
  Example/Backpack/SwiftUI/Components/ImageGallerySlideshow/ImageGallerySlideshowExampleView.swift
Labels: swiftui, major

#1965 [BPKCarousel] ACC-464 fix Carousel Accessibility defects
  Backpack-Common/Carousel/Classes/CarouselPageViewController.swift
  Backpack-SwiftUI/Carousel/Classes/BPKCarousel.swift
  Backpack/Carousel/Classes/BPKCarousel.swift
  Backpack/PageIndicator/Classes/BPKPageIndicator.swift
Labels: patch, Accessibility

#1964 [BPKBarChart] ACC-455/ACC-456 Resolve Accessibility defects
  Backpack/BarChart/Classes/BarChart.swift
  Backpack/BarChart/Classes/BarChartBar.swift
  Backpack/BarChart/Classes/BarChartCollectionViewCell.swift
  Backpack/BarChart/Classes/BarChartCollectionViewDataSource.swift
  Backpack/BarChart/Classes/BarChartCollectionViewHeader.swift
  Backpack/BarChart/Classes/BarChartKeyItem.swift
  Backpack/Tests/SnapshotTests/BPKBarChartSnapshotTest.swift
  Example/Backpack/UIKit/Components/Bar chart/BarChartViewController.swift
Labels: patch, Accessibility

#1968 AI-439 Set an optional accessibilityIdentifier on the button items in the navigation bar
  Backpack-SwiftUI/NavigationBar/Classes/BPKNavigationView.swift
  Backpack-SwiftUI/NavigationBar/Classes/BPKNavigationViewItem.swift
  Backpack-SwiftUI/NavigationBar/Classes/CollapsedNavigationBar.swift
Labels: swiftui, minor
