Repository Skyscanner/backpack-ios, pull requests merged in 2024-10, with the labels that each got.

#2066 DON-788: Update BPKSearchInputSummary
  Backpack-SwiftUI/AppSearchModal/Classes/BPKAppSearchModal.swift
  Backpack-SwiftUI/AppSearchModal/README.md
  Backpack-SwiftUI/SearchInputSummary/Classes/BPKSearchInputSummary.swift
  Backpack-SwiftUI/SearchInputSummary/Classes/BPKSearchInputSummaryState.swift
  Backpack-SwiftUI/SearchInputSummary/Classes/BPKSearchInputSummaryStyle.swift
  Backpack-SwiftUI/SearchInputSummary/README.md
  Backpack-SwiftUI/Tests/AppSearchModal/BPKAppSearchModalTests.swift
  Backpack-SwiftUI/Tests/AppSearchModal/__Snapshots__/BPKAppSearchModalTests/test_withContent.dark-mode.png
  Backpack-SwiftUI/Tests/AppSearchModal/__Snapshots__/BPKAppSearchModalTests/test_withContent.light-mode.png
  Backpack-SwiftUI/Tests/AppSearchModal/__Snapshots__/BPKAppSearchModalTests/test_withContent.rtl.png
  Backpack-SwiftUI/Tests/AppSearchModal/__Snapshots__/BPKAppSearchModalTests/test_withContentInputStateClear.dark-mode.png
  Backpack-SwiftUI/Tests/AppSearchModal/__Snapshots__/BPKAppSearchModalTests/test_withContentInputStateClear.light-mode.png
  Backpack-SwiftUI/Tests/AppSearchModal/__Snapshots__/BPKAppSearchModalTests/test_withContentInputStateClear.rtl.png
  Backpack-SwiftUI/Tests/AppSearchModal/__Snapshots__/BPKAppSearchModalTests/test_withContentWhenPrefixIsCustomText.dark-mode.png
  Backpack-SwiftUI/Tests/AppSearchModal/__Snapshots__/BPKAppSearchModalTests/test_withContentWhenPrefixIsCustomText.light-mode.png
  Backpack-SwiftUI/Tests/AppSearchModal/__Snapshots__/BPKAppSearchModalTests/test_withContentWhenPrefixIsCustomText.rtl.png
  Backpack-SwiftUI/Tests/AppSearchModal/__Snapshots__/BPKAppSearchModalTests/test_withContentWhenPrefixIsIcon.dark-mode.png
  Backpack-SwiftUI/Tests/AppSearchModal/__Snapshots__/BPKAppSearchModalTests/test_withContentWhenPrefixIsIcon.light-mode.png
  Backpack-SwiftUI/Tests/AppSearchModal/__Snapshots__/BPKAppSearchModalTests/test_withContentWhenPrefixIsIcon.rtl.png
  Backpack-SwiftUI/Tests/AppSearchModal/__Snapshots__/BPKAppSearchModalTests/test_withLoading.dark-mode.png
  Backpack-SwiftUI/Tests/AppSearchModal/__Snapshots__/BPKAppSearchModalTests/test_withLoading.light-mode.png
  Backpack-SwiftUI/Tests/AppSearchModal/__Snapshots__/BPKAppSearchModalTests/test_withLoading.rtl.png
  Backpack-SwiftUI/Tests/SearchInputSummary/BPKSearchInputSummaryTests.swift
  Backpack-SwiftUI/Tests/SearchInputSummary/__Snapshots__/BPKSearchInputSummaryTests/test_accessibility.a11y.png
  Backpack-SwiftUI/Tests/SearchInputSummary/__Snapshots__/BPKSearchInputSummaryTests/test_clearableField_withCustomPrefixText.dark-mode.png
  Backpack-SwiftUI/Tests/SearchInputSummary/__Snapshots__/BPKSearchInputSummaryTests/test_clearableField_withCustomPrefixText.light-mode.png
  Backpack-SwiftUI/Tests/SearchInputSummary/__Snapshots__/BPKSearchInputSummaryTests/test_clearableField_withCustomPrefixText.rtl.png
  Backpack-SwiftUI/Tests/SearchInputSummary/__Snapshots__/BPKSearchInputSummaryTests/test_defaultSettings_withCustomPrefixText.dark-mode.png
  Backpack-SwiftUI/Tests/SearchInputSummary/__Snapshots__/BPKSearchInputSummaryTests/test_defaultSettings_withCustomPrefixText.light-mode.png
  Backpack-SwiftUI/Tests/SearchInputSummary/__Snapshots__/BPKSearchInputSummaryTests/test_defaultSettings_withCustomPrefixText.rtl.png
  Backpack-SwiftUI/Tests/SearchInputSummary/__Snapshots__/BPKSearchInputSummaryTests/test_defaultSettings_withHighlightedState.dark-mode.png
  Backpack-SwiftUI/Tests/SearchInputSummary/__Snapshots__/BPKSearchInputSummaryTests/test_defaultSettings_withHighlightedState.light-mode.png
  Backpack-SwiftUI/Tests/SearchInputSummary/__Snapshots__/BPKSearchInputSummaryTests/test_defaultSettings_withHighlightedState.rtl.png
  Backpack-SwiftUI/Tests/SearchInputSummary/__Snapshots__/BPKSearchInputSummaryTests/test_defaultSettings_withPrefixIcon.dark-mode.png
  Backpack-SwiftUI/Tests/SearchInputSummary/__Snapshots__/BPKSearchInputSummaryTests/test_defaultSettings_withPrefixIcon.light-mode.png
  Backpack-SwiftUI/Tests/SearchInputSummary/__Snapshots__/BPKSearchInputSummaryTests/test_defaultSettings_withPrefixIcon.rtl.png
  Backpack-SwiftUI/Tests/SearchInputSummary/__Snapshots__/BPKSearchInputSummaryTests/test_emptyField_withCustomPrefixText.dark-mode.png
  Backpack-SwiftUI/Tests/SearchInputSummary/__Snapshots__/BPKSearchInputSummaryTests/test_emptyField_withCustomPrefixText.light-mode.png
  Backpack-SwiftUI/Tests/SearchInputSummary/__Snapshots__/BPKSearchInputSummaryTests/test_emptyField_withCustomPrefixText.rtl.png
  Backpack-SwiftUI/Tests/SearchInputSummary/__Snapshots__/BPKSearchInputSummaryTests/test_emptyField_withPrefixIcon.dark-mode.png
  Backpack-SwiftUI/Tests/SearchInputSummary/__Snapshots__/BPKSearchInputSummaryTests/test_emptyField_withPrefixIcon.light-mode.png
  Backpack-SwiftUI/Tests/SearchInputSummary/__Snapshots__/BPKSearchInputSummaryTests/test_emptyField_withPrefixIcon.rtl.png
  Example/Backpack/SwiftUI/Components/AppSearchModal/AppSearchModalExampleView.swift
  Example/Backpack/SwiftUI/Components/SearchInputSummary/SearchInputSummaryExampleView.swift
Labels: major, bpk

#2072 Donburi/bpksearchinputsummary accessibilityelement
  Backpack-SwiftUI/SearchInputSummary/Classes/BPKSearchInputSummary.swift
Labels: minor, bpk, Accessibility

#2074 BPKSearchInputSummary accessibility improvement
  Backpack-SwiftUI/SearchInputSummary/Classes/BPKSearchInputSummary.swift
  Backpack-SwiftUI/SearchInputSummary/README.md
Labels: minor, bpk, Accessibility

#2077 Add the missing identifier to SearchInputSummary
  Backpack-SwiftUI/SearchInputSummary/Classes/BPKSearchInputSummary.swift
Labels: swiftui, minor

#2073 [MUON-543] BPKGraphic promo sponsored
  Backpack-SwiftUI/GraphicPromo/Classes/BPKGraphicPromo.swift
  Backpack-SwiftUI/Tests/GraphicPromo/BPKGraphicPromoTests.swift
  Backpack-SwiftUI/Tests/GraphicPromo/__Snapshots__/BPKGraphicPromoTests/test_bottomAligned_sponsored.dark-mode.png
  Backpack-SwiftUI/Tests/GraphicPromo/__Snapshots__/BPKGraphicPromoTests/test_bottomAligned_sponsored.light-mode.png
  Backpack-SwiftUI/Tests/GraphicPromo/__Snapshots__/BPKGraphicPromoTests/test_bottomAligned_sponsored.rtl.png
  Backpack-SwiftUI/Tests/GraphicPromo/__Snapshots__/BPKGraphicPromoTests/test_sponsored.dark-mode.png
  Backpack-SwiftUI/Tests/GraphicPromo/__Snapshots__/BPKGraphicPromoTests/test_sponsored.light-mode.png
  Backpack-SwiftUI/Tests/GraphicPromo/__Snapshots__/BPKGraphicPromoTests/test_sponsored.rtl.png
  Backpack-SwiftUI/Tests/GraphicPromo/__Snapshots__/BPKGraphicPromoTests/test_sponsored_a11y.dark-mode.png
  Backpack-SwiftUI/Tests/GraphicPromo/__Snapshots__/BPKGraphicPromoTests/test_sponsored_a11y.light-mode.png
  Backpack-SwiftUI/Tests/GraphicPromo/__Snapshots__/BPKGraphicPromoTests/test_sponsored_a11y.rtl.png
  Backpack-SwiftUI/Tests/GraphicPromo/__Snapshots__/BPKGraphicPromoTests/test_sponsored_longText.dark-mode.png
  Backpack-SwiftUI/Tests/GraphicPromo/__Snapshots__/BPKGraphicPromoTests/test_sponsored_longText.light-mode.png
  Backpack-SwiftUI/Tests/GraphicPromo/__Snapshots__/BPKGraphicPromoTests/test_sponsored_longText.rtl.png
  Backpack-SwiftUI/Tests/GraphicPromo/__Snapshots__/BPKGraphicPromoTests/test_topAligned_sponsored.dark-mode.png
  Backpack-SwiftUI/Tests/GraphicPromo/__Snapshots__/BPKGraphicPromoTests/test_topAligned_sponsored.light-mode.png
  Backpack-SwiftUI/Tests/GraphicPromo/__Snapshots__/BPKGraphicPromoTests/test_topAligned_sponsored.rtl.png
  Backpack-SwiftUI/Tests/GraphicPromo/__Snapshots__/BPKGraphicPromoTests/test_topAligned_sponsored_a11y.dark-mode.png
  Backpack-SwiftUI/Tests/GraphicPromo/__Snapshots__/BPKGraphicPromoTests/test_topAligned_sponsored_a11y.light-mode.png
  Backpack-SwiftUI/Tests/GraphicPromo/__Snapshots__/BPKGraphicPromoTests/test_topAligned_sponsored_a11y.rtl.png
  Example/Backpack/SwiftUI/Components/GraphicPromo/GraphicPromoExampleView.swift
Labels: swiftui, major, bpk

#2082 [Lumen] LMN-1740: move geometry reader inside the component
  Backpack-SwiftUI/ImageGallerySlideshow/Classes/BPKImageGallerySlideshow.swift
Labels: wip, minor

#2090 Fix: BPKChip goes beyond its parent when the text is too long
  Backpack-SwiftUI/Chip/Classes/ChipButtonStyle.swift
  Backpack-SwiftUI/FlowStackView/Classes/BPKFlowStackView.swift
Labels: minor

#2089 [LMN-1746] When user selects an image incorrect picture is brought up.
  Backpack-SwiftUI/Utils/Classes/TwoRowGrid.swift
Labels: minor

#2095 DON-934 Update BPKSelect corner radius to 12
  Backpack-SwiftUI/Select/Classes/BPKSelect.swift
  Backpack-SwiftUI/Tests/Select/__Snapshots__/SelectTests/test_defaultSettings.dark-mode.png
  Backpack-SwiftUI/Tests/Select/__Snapshots__/SelectTests/test_defaultSettings.light-mode.png
  Backpack-SwiftUI/Tests/Select/__Snapshots__/SelectTests/test_defaultSettings.rtl.png
  Backpack-SwiftUI/Tests/Select/__Snapshots__/SelectTests/test_disabledState.dark-mode.png
  Backpack-SwiftUI/Tests/Select/__Snapshots__/SelectTests/test_disabledState.light-mode.png
  Backpack-SwiftUI/Tests/Select/__Snapshots__/SelectTests/test_disabledState.rtl.png
  Backpack-SwiftUI/Tests/Select/__Snapshots__/SelectTests/test_emptyOptions.dark-mode.png
  Backpack-SwiftUI/Tests/Select/__Snapshots__/SelectTests/test_emptyOptions.light-mode.png
  Backpack-SwiftUI/Tests/Select/__Snapshots__/SelectTests/test_emptyOptions.rtl.png
  Backpack-SwiftUI/Tests/Select/__Snapshots__/SelectTests/test_errorState.dark-mode.png
  Backpack-SwiftUI/Tests/Select/__Snapshots__/SelectTests/test_errorState.light-mode.png
  Backpack-SwiftUI/Tests/Select/__Snapshots__/SelectTests/test_errorState.rtl.png
  Backpack-SwiftUI/Tests/Select/__Snapshots__/SelectTests/test_selectOutOfBoundsItem.dark-mode.png
  Backpack-SwiftUI/Tests/Select/__Snapshots__/SelectTests/test_selectOutOfBoundsItem.light-mode.png
  Backpack-SwiftUI/Tests/Select/__Snapshots__/SelectTests/test_selectOutOfBoundsItem.rtl.png
  Backpack-SwiftUI/Tests/Select/__Snapshots__/SelectTests/test_selectSecondItem.dark-mode.png
  Backpack-SwiftUI/Tests/Select/__Snapshots__/SelectTests/test_selectSecondItem.light-mode.png
  Backpack-SwiftUI/Tests/Select/__Snapshots__/SelectTests/test_selectSecondItem.rtl.png
  screenshots/iPhone-swiftui_select___picker_closed_dm.png
  screenshots/iPhone-swiftui_select___picker_closed_lm.png
  screenshots/iPhone-swiftui_select___picker_open_dm.png
  screenshots/iPhone-swiftui_select___picker_open_lm.png
Labels: minor, bpk
