Repository Skyscanner/backpack-ios, pull requests merged in 2025-07, with the labels that each got.

#2270 Donburi/don 1767 removing colours and replacing deprecated
  Backpack-SwiftUI/Color/Classes/Generated/BPKDynamicColors.swift
  Backpack-SwiftUI/Color/Classes/Generated/BPKStaticColors.swift
  Backpack/Color/Classes/Generated/BPKColor.h
  Backpack/Color/Classes/Generated/BPKColor.m
  Backpack/Color/Classes/Generated/UIColor+Backpack.h
  Backpack/Color/Classes/Generated/UIColor+Backpack.m
  Backpack/Gradient/Classes/BPKGradient.m
  Backpack/Tests/SnapshotTests/BPKHorizontalNavigationSnapshotTests.swift
  Backpack/Tests/SnapshotTests/BPKTappableLinkLabelSnapshotTest.swift
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKGradientSnapshotTests/testBaselineScrimGradient.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKGradientSnapshotTests/testBaselineScrimGradient.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKGradientSnapshotTests/testBaselineScrimGradient.rtl.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKHorizontalNavigationSnapshotTests/testWithAlternateAppearance.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKHorizontalNavigationSnapshotTests/testWithAlternateAppearance.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKHorizontalNavigationSnapshotTests/testWithAlternateAppearance.rtl.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKHorizontalNavigationSnapshotTests/testWithCustomOptions.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKHorizontalNavigationSnapshotTests/testWithCustomOptions.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKHorizontalNavigationSnapshotTests/testWithCustomOptions.rtl.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKHorizontalNavigationSnapshotTests/testWithTheming.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKHorizontalNavigationSnapshotTests/testWithTheming.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKHorizontalNavigationSnapshotTests/testWithTheming.rtl.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKTappableLinkLabelSnapshotTest/testTappableLinkLabelWithHeadingFontStyles.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKTappableLinkLabelSnapshotTest/testTappableLinkLabelWithHeadingFontStyles.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKTappableLinkLabelSnapshotTest/testTappableLinkLabelWithHeadingFontStyles.rtl.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKTappableLinkLabelSnapshotTest/testTappableLinkLabelWithHeroFontStyles.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKTappableLinkLabelSnapshotTest/testTappableLinkLabelWithHeroFontStyles.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKTappableLinkLabelSnapshotTest/testTappableLinkLabelWithHeroFontStyles.rtl.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKTappableLinkLabelSnapshotTest/testTappableLinkLabelWithRegularFontStyles.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKTappableLinkLabelSnapshotTest/testTappableLinkLabelWithRegularFontStyles.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKTappableLinkLabelSnapshotTest/testTappableLinkLabelWithRegularFontStyles.rtl.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKTappableLinkLabelSnapshotTest/testViewSnapshotWithColorApplied.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKTappableLinkLabelSnapshotTest/testViewSnapshotWithColorApplied.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKTappableLinkLabelSnapshotTest/testViewSnapshotWithColorApplied.rtl.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKTappableLinkLabelSnapshotTest/testViewSnapshotWithThemeApplied.dark-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKTappableLinkLabelSnapshotTest/testViewSnapshotWithThemeApplied.light-mode.png
  Backpack/Tests/SnapshotTests/__Snapshots__/BPKTappableLinkLabelSnapshotTest/testViewSnapshotWithThemeApplied.rtl.png
  Backpack/Tests/UnitTests/BPKCardTest.m
  Backpack/Tests/UnitTests/BPKGradientTest.m
  Backpack/Tests/UnitTests/BPKIconTest.m
  Example/Backpack/UIKit/Components/Bottom Sheet/BottomSheetViewController.swift
  Example/Backpack/UIKit/Components/Calendar/CalendarViewController.swift
  Example/Backpack/UIKit/Components/Card/CardsViewController.swift
  Example/Backpack/UIKit/Components/Flare/FlareViewViewController.swift
  Example/Backpack/UIKit/Components/Horizontal navigation/HorizontalNavViewController.swift
  Example/Backpack/UIKit/Components/Link/TappableLinkLabelsSelectorViewController.swift
  Example/Backpack/UIKit/Components/Link/TappableLinkLabelsViewController.swift
  Example/Backpack/UIKit/Components/Nudger/NudgerViewController.swift
  Example/Backpack/Utils/FeatureStories/Groups/ButtonGroups.swift
  package-lock.json
  package.json
Labels: major, bpk

#2280 [INC-2367] Static methods for fonts on iOS
  Backpack-SwiftUI/Font/Classes/BPKFont.swift
Labels: minor, bpk

#2290 Created IntentTriggerButton component
  Backpack-SwiftUI/IntentTriggerButton/README.md
  Backpack-SwiftUI/TappableContainer/Classes/BPKIntentTriggerButton.swift
  Backpack-SwiftUI/TappableContainer/README.md
  Backpack-SwiftUI/Tests/TappableContainer/BPKIntentTriggerButtonTests.swift
  Backpack-SwiftUI/Tests/TappableContainer/__Snapshots__/BPKIntentTriggerButtonTests/testAccessibilityLabel.a11y.png
  Backpack-SwiftUI/Tests/TappableContainer/__Snapshots__/BPKIntentTriggerButtonTests/testWithIconLabel.dark-mode.png
  Backpack-SwiftUI/Tests/TappableContainer/__Snapshots__/BPKIntentTriggerButtonTests/testWithIconLabel.light-mode.png
  Backpack-SwiftUI/Tests/TappableContainer/__Snapshots__/BPKIntentTriggerButtonTests/testWithIconLabel.rtl.png
  Example/Backpack.xcodeproj/project.pbxproj
  Example/Backpack/SwiftUI/Components/TappableContainer/IntentTriggerButtonExampleView.swift
  Example/Backpack/Utils/FeatureStories/ComponentCells.swift
  screenshots/iPhone-swiftui_intent-trigger-button___default_dm.png
  screenshots/iPhone-swiftui_intent-trigger-button___default_lm.png
Labels: swiftui, minor, bpk, new-component, ai: alex
