Repository Skyscanner/backpack-ios, pull requests merged in 2025-04, with the labels that each got.

#2200 DON-1074: Fix accessibility formatter in backpack
  Backpack-SwiftUI/Calendar/Classes/Core/CalendarTypeContainerFactory.swift
Labels: swiftui, minor

#2201 DON-1399: Add highlightedDates support to BPKCalendar
  Backpack-SwiftUI/Calendar/Classes/BPKCalendar.swift
  Backpack-SwiftUI/Calendar/Classes/CalendarDayCells/DisabledHighlightedDayCell.swift
  Backpack-SwiftUI/Calendar/Classes/CalendarDayCells/HighlightedCalendarDayCell.swift
  Backpack-SwiftUI/Calendar/Classes/CalendarMonthHeader.swift
  Backpack-SwiftUI/Calendar/Classes/Core/CalendarTypeContainerFactory.swift
  Backpack-SwiftUI/Calendar/Classes/Single/SingleCalendarContainer.swift
  Backpack-SwiftUI/Calendar/README.md
  Backpack-SwiftUI/Tests/Calendar/BPKCalendarTests.swift
  Backpack-SwiftUI/Tests/Calendar/__Snapshots__/BPKCalendarTests/test_singleSelectionCalendar_withHighlightedDates.dark-mode.png
  Backpack-SwiftUI/Tests/Calendar/__Snapshots__/BPKCalendarTests/test_singleSelectionCalendar_withHighlightedDates.light-mode.png
  Backpack-SwiftUI/Tests/Calendar/__Snapshots__/BPKCalendarTests/test_singleSelectionCalendar_withHighlightedDates.rtl.png
  Example/Backpack/SwiftUI/Components/Calendar/CalendarExampleSingleView.swift
  Example/Backpack/Utils/FeatureStories/Groups/CalendarGroups.swift
  Example/Podfile.lock
  screenshots/iPhone-swiftui_calendar___highlighted_dates_dm.png
  screenshots/iPhone-swiftui_calendar___highlighted_dates_lm.png
Labels: swiftui, minor

#2203 DON-1380 Add onScroll event to calendar
  Backpack-SwiftUI/Calendar/Classes/BPKCalendar.swift
  Backpack-SwiftUI/Calendar/Classes/Core/CalendarContainer.swift
  Backpack-SwiftUI/Calendar/Classes/Core/CalendarTypeContainerFactory.swift
  Backpack-SwiftUI/Calendar/Classes/Core/ItemVisibilityObserver.swift
  Backpack-SwiftUI/Calendar/README.md
  Example/Backpack.xcodeproj/project.pbxproj
Labels: minor

#2208 DON-1504: Fix highlighted date colour in disabled area
  Backpack-SwiftUI/Calendar/Classes/CalendarDayCells/DisabledHighlightedDayCell.swift
  Backpack-SwiftUI/Tests/Calendar/BPKCalendarTests.swift
  Backpack-SwiftUI/Tests/Calendar/__Snapshots__/BPKCalendarTests/test_singleSelectionCalendar_withHighlightedDates.dark-mode.png
  Backpack-SwiftUI/Tests/Calendar/__Snapshots__/BPKCalendarTests/test_singleSelectionCalendar_withHighlightedDates.light-mode.png
  Backpack-SwiftUI/Tests/Calendar/__Snapshots__/BPKCalendarTests/test_singleSelectionCalendar_withHighlightedDates.rtl.png
  Example/Backpack.xcodeproj/project.pbxproj
Labels: swiftui, minor

#2211 OGM-3468 update card list
  Backpack-SwiftUI/CardList/Classes/BPKCardList.swift
  Backpack-SwiftUI/CardList/Classes/BPKCardListAccessory.swift
  Backpack-SwiftUI/Tests/CardList/BPKCardListViewTests.swift
  Backpack-SwiftUI/Tests/CardList/__Snapshots__/BPKCardListViewTests/testCardListStackWithoutExpandAccessory.dark-mode.png
  Backpack-SwiftUI/Tests/CardList/__Snapshots__/BPKCardListViewTests/testCardListStackWithoutExpandAccessory.light-mode.png
  Backpack-SwiftUI/Tests/CardList/__Snapshots__/BPKCardListViewTests/testCardListStackWithoutExpandAccessory.rtl.png
  Example/Backpack/Utils/FeatureStories/Groups/CardListGroups.swift
Labels: minor

#2183 [ACC-1027] Adds `BPKDynamicStack` based on native `AnyLayout`
  Backpack-SwiftUI/DynamicLayout/Classes/BPKDynamicLayout.swift
  Backpack-SwiftUI/DynamicLayout/Classes/BPKDynamicTypeLayout.swift
  Backpack-SwiftUI/DynamicLayout/README.md
  Backpack-SwiftUI/Tests/DynamicLayout/BPKDynamicLayoutTests.swift
  Backpack-SwiftUI/Tests/DynamicLayout/__Snapshots__/BPKDynamicLayoutTests/test_dynamicLayout_device_orientation_example_when_landscape.a11y.png
  Backpack-SwiftUI/Tests/DynamicLayout/__Snapshots__/BPKDynamicLayoutTests/test_dynamicLayout_device_orientation_example_when_portrait.a11y.png
  Backpack-SwiftUI/Tests/DynamicLayout/__Snapshots__/BPKDynamicLayoutTests/test_dynamicTypeLayout_accessibility.a11y.png
  Example/Backpack.xcodeproj/project.pbxproj
  Example/Backpack/Utils/FeatureStories/ComponentCells.swift
  Example/Backpack/Utils/FeatureStories/Groups/DynamicLayoutGroups.swift
Labels: minor, Accessibility

#2212 [MUON-868] Gallery Preview "Default" variant
  Backpack-SwiftUI/ImageGalleryPreview/Classes/BPKImageGalleryPreview.swift
  Backpack-SwiftUI/ImageGalleryPreview/README.md
  Backpack-SwiftUI/Tests/ImageGalleryPreview/BPKImageGalleryPreviewTests.swift
  Backpack-SwiftUI/Tests/ImageGalleryPreview/__Snapshots__/BPKImageGalleryPreviewTests/test_imageGalleryPreview_defaultVariant.dark-mode.png
  Backpack-SwiftUI/Tests/ImageGalleryPreview/__Snapshots__/BPKImageGalleryPreviewTests/test_imageGalleryPreview_defaultVariant.light-mode.png
  Backpack-SwiftUI/Tests/ImageGalleryPreview/__Snapshots__/BPKImageGalleryPreviewTests/test_imageGalleryPreview_defaultVariant.rtl.png
  Example/Backpack/SwiftUI/Components/ImageGalleryPreview/ImageGalleryPreviewExampleView.swift
  Example/Backpack/Utils/FeatureStories/ComponentCells.swift
Labels: minor, bpk

#2214 DON-1423: Add option for small shimmer
  Backpack-SwiftUI/Skeleton/Classes/BPKShimmer.swift
  Backpack-SwiftUI/Skeleton/README.md
  Backpack-SwiftUI/Tests/AppSearchModal/__Snapshots__/BPKAppSearchModalTests/test_withLoading.dark-mode.png
  Backpack-SwiftUI/Tests/Skeleton/__Snapshots__/BPKSkeletonTests/test_allSkeletonsWithShimmer.light-mode.png
  Backpack-SwiftUI/Tests/Skeleton/__Snapshots__/BPKSkeletonTests/test_allSkeletonsWithShimmer.rtl.png
  Example/Backpack/SwiftUI/Components/Skeleton/SkeletonExampleView.swift
Labels: swiftui, minor
